<div class="contain mt-1">
    <div class="row">
        <div class="col-md-12 content">
            <h2 class="text-center">Update Category</h2>
            <form [formGroup]="formGroup" (ngSubmit)="updateCategory()" class="dark-theme" >
                <div style="margin-bottom: 14px;">
                    <i class="bi bi-paragraph"></i><strong class="ms-2">Enter the title of the category</strong>
                </div>                        
                <mat-form-field  class="full-width" appearance="outline">
                    <mat-label>Title</mat-label>
                    <input 
                        autofocus
                        type="text" 
                        name="Title" 
                        matInput 
                        placeholder="Enter title here..."
                        formControlName="title">
                </mat-form-field>
                <div style="margin-bottom: 14px;">
                    <i class="bi bi-question-diamond-fill"></i><strong class="ms-2">Give the Descritpion here</strong>
                </div>
                <p>
                    <mat-form-field appearance="outline" class="full-width">
                        <mat-label>Description</mat-label>
                        <textarea matInput placeholder="Enter description here..." formControlName="description" rows="5"></textarea>
                    </mat-form-field>
                </p>
                <div style="margin-bottom: 14px;">
                    <i class="bi bi-paragraph"></i><strong class="ms-2">Enter the icon of the category</strong>
                </div>   
                <mat-form-field  class="full-width" appearance="outline">
                    <mat-label>Icon</mat-label>
                    <input 
                        autofocus
                        type="text" 
                        name="Icon" 
                        matInput 
                        placeholder="Enter title here..."
                        formControlName="icon">
                </mat-form-field>
                
                <div class="d-flex justify-content-between aling-items-center">
                    <button class="btn-save" (click)="closeUpdate()">Update Category<i class="bi bi-cloud-download-fill ms-2"></i></button>
                    <button class="btn-cancel" [mat-dialog-close]="closedMessage">
                        <strong>CANCEL</strong><i class="bi bi-x-circle-fill ms-2"></i></button>
                </div>
            </form>
        </div>
    </div>
</div>