.container-1 {
    padding: 20px 5%;

    section.col {

        header.title {
            margin-bottom: 14px;
            margin-left: -18px;

            h2 {
                color: var(--text-100);
                span {
                    color: var(--primary-100);
                }
            }
        }

        .contents {
            //border-left: 2px solid var(--text-300);
            padding: 0 30px;
            
            .box {
                position: relative;
                border: 1px solid var(--bg-200);
                border-radius: 8px;
                margin-bottom: 16px;
                padding: 15px;
                cursor: pointer;
                transition: all 0.4s ease;

                header.quiz{
                    margin-bottom: 10px;
                    margin-left: 1px;
                    i {
                        color: var(--text-200);
                        margin-right: 4px;
                    }

                    span {
                        color: var(--text-200);
                        margin-right: 4px;
                    }

                    strong {
                        color: var(--text-100);
                    }

                    .updatedDate {
                        position: absolute;
                        top: 15px;
                        right: 15px;
                        background: var(--bg-300);
                        border-radius: 4px;
                        padding: 0 6px;

                        span {
                            color: var(--text-200);
                            font-size: 12px;
                        }
                    }
                }

                .content {
                    position: relative;
                    .details {
                        display: flex;

                        .image {
                            margin-right: 16px;
                            img {
                                width: 150px;
                                height: 100px;
                                border-radius: 8px;
                            }
                        }

                        .title {
                            .info-title {
                                display: flex;
                                align-items: center;

                                i {
                                    border-left: 1px solid var(--bg-300);
                                    color: var(--special-100);
                                    margin-left: 6px;
                                    margin-right: 8px;
                                    padding-left: 12px;

                                }
                            }

                            h4 {
                                color: var(--primary-100);
                                margin-bottom: 4px;
                                font-weight: 550px;
                                font-family: 'Roboto';
                            }

                            span {
                                color: var(--text-200);
                                font-size: 12px;
                            }

                            .info {
                                position: absolute;
                                bottom: 0;
                                display: flex;
                                justify-content: space-between;

                                .questions, .duration, .difficulty {
                                    margin-right: 20px;
                                    i {
                                        color: var(--primary-200);
                                        font-size: 16px;
                                        margin-right: 8px;
                                    }

                                    span {
                                        font-size: 12px;
                                        color: var(--text-100);

                                    }
                                }
                            }
                            
                            .start-quiz {
                                position: absolute;
                                bottom: 0;
                                right: 0;
                                i {
                                    color: var(--special-200);
                                    font-size: 20px;
                                }
                            }
                        }
                    }
                }

                .icon {
                    position: absolute;
                    top: -4px;
                    right: calc(100% + 12px);
                    padding: 8px 10px;
                    background: var(--special-200);
                    border: 5px solid var(--bg-100);
                    border-radius: 50%;

                    i {
                        color: var(--text-100);
                    }

                }
            }

            .box:hover {
                border: 1px solid var(--primary-100);
            }

            .box:not(:last-child):before {
                content: '';
                position: absolute;
                top: 0;
                left: -35px;
                background: var(--text-100);
                width: 1px;
                height: 108%;
            }
        }
    }
}



.container-2 {
    margin-top: 16px;

    main.row {
        section.col {
            padding: 0 35px 0 0;

            header.title {
                h3 {
                    color: var(--text-100);
                    background: var(--bg-300);
                    border: 1px solid var(--bg-200);
                    border-radius: 8px 8px 0 0;
                    padding: 12px;
                }
            }

            .contents {
                border: 1px solid var(--bg-200);
                padding: 20px;

                .box {
                    margin-bottom: 28px;
                    padding: 0 16px 0 0;

                    .category {
                        display: flex;
                        align-items: center;
                        cursor: pointer;

                        .icon {
                            margin-right: 12px;
                            i {
                                color: var(--text-100);
                                font-size: 24px;
                            }
                        }

                        .info-category {
                            h4 {
                                color: var(--text-100);
                                margin-bottom: 4px;
                            }

                            span {
                                color: var(--text-300);
                                font-size: 12px;
                            }
                        }
                    }
                }

                .box:hover .info-category h4{
                    color: var(--special-100);
                    text-decoration: underline;
                }
            }
        }
    }
}