.contain {
    margin: 16px;
    background: transparent;
}

a {
    cursor: pointer;
}

.content {
    background: #21262d;
    border-radius: 8px;

}

.content h4 {
    color: #fff;
}

.content .card-user {
    position: relative;
    border: 1px solid #414654;
    border-radius: 8px;
    padding: 12px;
    margin-top: 12px;
    margin-bottom: 16px;
}

.content .card-user .subscribe-check {
    position: absolute;
    top: 10px;
    right: 6px;
    i {
        color: #77bdfb;
    }
}

.content .card-user img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.content .card-user h3 {
    color: #fff;

    a:hover {
        color: #77bdfb;
        text-decoration: underline;
    }
}

.content .card-user span {
    font-size: 12px;
    color: #89929b;
    margin-bottom: 14px;
    height: 3rem;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.btn-subscriber {
    width: 100%;
    border: 0;
    border-radius: 8px;
    padding: 8px 16px;
    margin-top: 16px;
    background: #faa356;
    color: #21262d;
    font-family: 'Ubuntu';
}

.btn-subscriber:hover {
    opacity: .7;
}

.btn-subscribe {
    width: 100%;
    border: 0;
    border-radius: 8px;
    padding: 8px 16px;
    margin-top: 16px;
    background: #77bdfb;
    color: #21262d;
    font-family: 'Ubuntu';
}

.btn-subscribe:hover {
    opacity: .7;
}




.content-right {
    background: transparent;
    border-radius: 8px;
    padding: 0 16px;
}

.fixed-right {
    background: #21262d;
}