.contain {
    background: transparent;
}

a {
    cursor: pointer;
}

/***/

.content {
    .divider {
        margin-left: 14px;
        margin-bottom: 28px;
        h4 {
            color: var(--primary-100);
        }
    }
}

.user-cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .card-1 {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 16px 14px 34px 14px;
        width: 22em;
        background: rgba(171, 171, 171, 0.1);
        padding: 2em;
        text-align: center;
        border-radius: 10px;
        box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.5);
        position: relative;
        backdrop-filter: blur(4px);
        border: 1px #555 solid;

        .profile-img {
            width: 6em;
            height: 6em;
            margin: -4em auto 0 auto;
            border-radius: 50%;
            background: linear-gradient(0deg, #59fc72, #02bafc);
            display: flex;
            justify-content: center;
            align-items: center;
            //box-shadow: 0 0 0 0.5em #26293e;
            box-shadow: 0 0 0 0.5em var(--bg-100);

            img {
                width: 90%;
                height: 90%;
                border-radius: inherit;
            }
        }

        h2 {
            color: var(--text-100);
            margin: 1em 0 0 0;
        }

        small {
            color: var(--text-300);
        }

        h3 {
            color: var(--text-100);
            margin: 2em 0 0.5em 0;
            font-weight: 400;
        }

        p {
            color: var(--text-300);
            font-size: 12px;
            line-height: 27px;
        }

        p, small {
            transition: .2s;
        }

        button {
            background: rgba(171, 171, 171, 0.1);
            border: 0;
            border-radius: 3em;
            padding: 0.8em 2em;
            color: var(--text-100);
            cursor: pointer;
            transition: .3s;
        }

    }

    .card-1:hover button {
        background: var(--text-100);
        color: var(--bg-100);
    }

    .card-1:hover p {
        color: var(--text-100);
    }

    .card-1:hover small {
        color: var(--text-100);
    }

    .card-1:hover:before {
        animation: fill 0.4s ease-in-out forwards;
    }

    .card-1:nth-child(even) .profile-img, 
    .card-1:nth-child(2)::before {
        background: linear-gradient(0deg, #ffc15d, #ff4e57);
    }

    .card-1::before {
        content: '';
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        background: linear-gradient(0deg, #59fc72, #02bafc);
        width: 0;
        height: 0;
        z-index: -1;
        border-radius: inherit;
    }

    @keyframes fill {
        40% {
            width: 100%;
            height: 0.5em;
        }

        50% {
            width: 100%;
            height: 0.5em;
        }
        100% {
            width: 100%;
            height: 100%;
        }
    }


}

/***/

/**
.content {
    background: transparent;
    border-radius: 8px;
    padding-left: 26px;
    padding-right: 26px;

}

.content h4 {
    color: #6d757c;
    padding-bottom: 16px;
    //border-top: 1px solid #89929b;
    border-bottom: 1px solid #89929b;
}

.content .card {
    border-radius: 10px;
    margin-bottom: 16px;
    border: 0;
   // box-shadow: 0 0 10px #21262d;
}

.content .card::before {
    content: "";
    position: absolute;
    height: 30%;
    width: 100%;
    background-color: #4062bb;
    background-image: linear-gradient(316deg, #4062bb 0%, #5200ae 74%);
    border-radius: 10px 10px 0 0;
}


.content .card-user {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 12px;
    margin-top: 12px;
    margin-bottom: 16px;
}

.content .card-user .subscribe-check {
    position: absolute;
    top: 10px;
    right: 6px;
    i {
        color: #77bdfb;
    }
}

.card-user .image {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    padding: 3px;
    background-color: #4062bb;
    background-image: linear-gradient(316deg, #4062bb 0%, #5200ae 74%);
}

.content .card-user img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 3px solid #fff;
    object-fit: cover;
}

.content .card-user h3 {
    color: #333;

    a:hover {
        color: #77bdfb;
        text-decoration: underline;
    }
}

.content .card-user span {
    font-size: 12px;
    color: #89929b;
    margin-bottom: 14px;
    height: 3rem;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.btn-subscriber {
    width: 100%;
    border: 0;
    border-radius: 8px;
    padding: 8px 16px;
    margin-top: 8px;
    background: #faa356;
    color: #21262d;
    font-family: 'Ubuntu';
}

.btn-subscriber:hover {
    opacity: .9;
}

.btn-subscribe {
    width: 100%;
    border: 0;
    border-radius: 8px;
    padding: 8px 16px;
    margin-top: 8px;
    background-color: #4062bb;
    background-image: linear-gradient(316deg, #4062bb 0%, #5200ae 74%);
    color: #fff;
    font-family: 'Ubuntu';
}

.btn-subscribe:hover {
    opacity: .9;
}

.subscribers {
    display: flex;
    overflow-x: scroll;
    .card {
        margin-right: 16px;
    }
}

.subscribers::-webkit-scrollbar {
    background: #fff;
    border-radius: 12px;
    margin-bottom: 16px;
    margin-left: 16px; 
}

.subscribers::-webkit-scrollbar-thumb {
    background: #faa356;
    border-radius: 20px;
    border: 6px solid #fff;
}

.rowposter {
    margin-bottom: 16px;
    
}

*/
/***/
.content-right {
    background: transparent;
    border-radius: 8px;
    padding: 0 16px;
}

.card-right {
    background: #eee;
    border-radius: 8px;
    padding: 16px;

}

.card-right h4 {
    color: #21262d;
    font-family: 'Poppins';
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 32px;
    margin-top: 14px;
    padding-bottom: 16px;
    margin-bottom: 18px;
    border-bottom: 1px solid #89929b;
}

.card-right a {
    color: #21262d;
    font-size: 14px;
    margin-bottom: 24px;

    i {
        margin-right: 12px; 
        font-size: 20px;
        color: #6c35de; 
    }
}

.card-right a:hover {
    opacity: .7;
}

.card-right span {
    background: #6c35de;
    padding: 2px 6px;
    border-radius: 6px;
    color: #fff;
    font-size: 12px;
}

.calendar-card {
    background: transparent;
    color: #77bdfb;
}