<div class="wrapper">
    <aside id="sidebar">
        <div class="d-flex mt-4">
            <button id="toggle-btn">
                <i class="bi bi-grid"></i>
            </button>
            <div class="sidebar-logo">
                <a routerLink="/admin">QuizTech</a>
            </div>
        </div>
        <ul class="sidebar-nav">      
            <li class="sidebar-item">
                <a routerLink="/admin/" class="sidebar-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                    <i class="bi bi-house-check"></i>
                    <span class="ms-2">Home</span>
                </a>
            </li>
            <li class="sidebar-item">
                <a routerLink="/admin/profile" class="sidebar-link" routerLinkActive="active">
                    <i class="bi bi-person"></i>
                    <span class="ms-2">My Account</span>
                </a>
            </li>
            <li class="sidebar-item">
                <a routerLink="/admin/categories" class="sidebar-link" routerLinkActive="active">
                    <i class="bi bi-bag-check"></i>
                    <span class="ms-2">Category</span>
                </a>
            </li>
            <li class="sidebar-item">
                <a routerLink="/admin/add-category" class="sidebar-link" routerLinkActive="active">
                    <i class="bi bi-bag-plus"></i>
                    <span class="ms-2">Add category</span>
                </a>
            </li>
            <li class="sidebar-item">
                <a class="sidebar-link" routerLink="/admin/quizzes" routerLinkActive="active">
                    <i class="bi bi-database"></i>
                    <span class="ms-2">Quiz</span>
                </a>
            </li>
            <li class="sidebar-item">
                <a class="sidebar-link" routerLink="/admin/add-quiz" routerLinkActive="active">
                    <i class="bi bi-database-add"></i>
                    <span class="ms-2">Add quiz</span>
                </a>
            </li>
            <li class="sidebar-item">
                <a href="" class="sidebar-link" routerLinkActive="active">
                    <i class="bi bi-gear"></i>
                    <span class="ms-2">Settings</span>
                </a>
            </li>
        </ul>
        <div class="sidebar-footer">
            <a (click)="logout()" class="sidebar-link">
                <i class="bi bi-box-arrow-in-right"></i>
                <span>Logout</span>
            </a>
        </div>
        <div class="copyright">
            <span style="color: #cccbc8; font-size: 10px; margin-left: 20px;">© Created by Fuji Vanilli</span>
        </div>
    </aside>
</div>
