<div class="container mt-3">
    <mat-card>
        <mat-card-header>
            <div class="container">
                <button class="btn-add-quiz" routerLink="/admin/add-quiz"><i class="bi bi-plus-circle"style="font-size: 18px;"></i> Add new Quiz</button>
            </div>
        </mat-card-header>
    </mat-card>
    <mat-card class="mt-3" *ngFor="let quiz of quizzes">
        <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>{{quiz.title}} </mat-card-title>
            <mat-card-subtitle>{{quiz.category?.title}} </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <p>{{quiz.description}} </p>
        </mat-card-content>
        <mat-card-actions class="ms-2">
            <button class="btn-question"  [routerLink]="'/admin/questions/'+quiz.id+'/'+quiz.title">Questions</button>
            <button mat-stroked-button color="primary" class="ms-3">Max marks: <span
                    style="font-weight: 600; color: #e11d48;">{{quiz.marks}}</span></button>
            <button mat-stroked-button color="primary" class="ms-3">Questions: <span
                    style="font-weight: 600; color: #e11d48;">{{quiz.numberOfQuestions}}</span></button>
            <button mat-mini-fab color="primary" class="ms-3" (click)="openUpdate(quiz)" >
                <mat-icon>edit</mat-icon>
            </button> 
            <button mat-mini-fab color="primary" class="ms-3 attempt"> 
                <mat-icon>cached</mat-icon>
            </button>
            <button mat-mini-fab color="warn" class="ms-3" (click)="deleteQuiz(quiz.id)">
                <mat-icon>delete</mat-icon>
            </button>
        </mat-card-actions>
    </mat-card>


</div>