<div class="contain mt-4">
    <div class="container-1">
        <section class="col">
            <div class="contents">
                <header class="header">
                    <div class="box-search">
                        <input type="text" [(ngModel)]="searchTerm" (ngModelChange)="filterBySearchTerm()" placeholder="Search Quiz here ...">
                        <button>
                            <i class="bi bi-search"></i>
                            <i class="bi bi-x-lg" *ngIf="showCloseIcon()" (click)="clearSearchTerm()"></i>
                        </button>
                    </div>
                    <div class="sorted">
                        
                        <div class="dropdowns">
                            <button class="btn btn-sorted dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="bi bi-filter"></i>Filter
                            </button>
                            <ul class="dropdown-menu dropdown-menu-dark">
                                <li><a class="dropdown-item" routerLinkActive="active" (click)="filterByFrench()">French</a></li>
                                <li><a class="dropdown-item" routerLinkActive="active" (click)="filterByEnglish()">English</a></li>
                                <li><a class="dropdown-item" routerLinkActive="active" (click)="filterBySpain()">Spain</a></li>
                            </ul>
                        </div>
                        <div class="dropdowns">
                            <button class="btn btn-sorted dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="bi bi-sort-down"></i>Sorted
                            </button>
                            <ul class="dropdown-menu dropdown-menu-dark">
                                <li><a class="dropdown-item" routerLinkActive="active" (click)="sortedByName()">Name</a></li>
                                <li><a class="dropdown-item" routerLinkActive="active" (click)="sortedByLevel()">Level</a></li>
                                <li><a class="dropdown-item" routerLinkActive="active" (click)="sortedByLanguage()">Language</a></li>
                                <li><a class="dropdown-item" routerLinkActive="active" (click)="sortedByMark()">Mark</a></li>
                            </ul>
                        </div>
                        <div class="dropdowns">
                            <button class="btn-category" (click)="loadQuizzes()">
                                <i class="bi bi-arrow-repeat"></i>
                                <span>All Quizzes</span>
                            </button>
                        </div>
                    </div> 
                </header>
                <div class="box" *ngFor="let quiz of filterQuizzes | searchPipe: searchTerm" [routerLink]="'/user/instructions/'+quiz.id">
                    <header class="quiz">
                        <i class="bi bi-bookmark-star"></i>
                        <span>Max marks</span><strong>{{quiz.marks}}</strong>
                        <div class="updatedDate">
                            <span>{{quiz.lastUpdateDate?.toString()?.substring(0, 10)}}</span>
                        </div>
                    </header>
                    <div class="content">
                        <div class="details">
                            <div class="image">
                                <img [src]="quiz.photo" alt="">
                            </div>
                            <div class="title">
                                <div class="info-title">
                                    <h3>{{quiz.title}}</h3>
                                    <i class="bi bi-translate"></i>
                                    <span>{{quiz.language}}</span>
                                </div>
                                <span>{{quiz.description}}</span>
                                <div class="info">
                                    <div class="questions">
                                        <i class="bi bi-patch-question"></i>
                                        <span>{{quiz.numberOfQuestions}}</span>
                                    </div>
                                    <div class="duration">
                                        <i class="bi bi-alarm"></i>
                                        <span>{{quiz.duration+' Minutes'}}</span>
                                    </div>
                                    <div class="difficulty">
                                        <i class="bi bi-bar-chart"></i>
                                        <span>{{quiz.difficulty}}</span>
                                    </div>
                                </div>
                                <div class="start-quiz">
                                    <a [routerLink]="'/user/instructions/'+quiz.id"><i class="bi bi-trophy"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="icon">
                        <i class="bi bi-fire"></i>
                    </div>
                </div>
            </div>
        </section>

    </div>
    <!--div class="d-flex justify-content-between align-items-center">
        <div class="title-question text-center">
            <h1 class=""><strong>All Quizzes {{'('+totalQuizzes+')'}}</strong></h1>
        </div>

        <div>
            <button class="btn-add-quiz" routerLink="/admin/add-quiz" style="margin-right: 20px;">
                QUIZ<i class="bi bi-plus-circle-fill ms-3" style="margin-right: 8px; font-size: 20px; font-weight: 600;"></i>
            </button>
        </div>
    </div>
    
    

    <div class="quiz-content">
        <mat-card class="custom-card mt-3" *ngFor="let quiz of filterQuizBySearchTerm | searchPipe: searchTerm">
            <div class="row">
                <div class="col-md-8">
                    <mat-card-header>
                        <div mat-card-avatar class="image-quiz" [style.backgroundImage]="'url('+quiz.imageUrl+')'"></div>
                        <mat-card-title>
                            <a class="nav-link" [routerLink]="'/admin/quiz/'+quiz.id">{{quiz.title}} </a>
                        </mat-card-title>
                        <mat-card-subtitle>{{quiz.category?.title}} </mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content>
                        <p>{{quiz.description}} </p>
                    </mat-card-content>
                    <mat-card-actions class="ms-2">
                        <button class="btn-question" [routerLink]="'/admin/questions/'+quiz.id+'/'+quiz.title">VIEW QUESTIONS 
                            <i class="bi bi-eye-fill ms-2" style="font-size: 16px;"></i>
                        </button>
                    </mat-card-actions>
                    <div class="m-3 d-flex align-items-center">
                        <a class="nav-link" (click)="openUpdate(quiz)"><i class="bi bi-pen-fill"></i><span class="ms-2">Edit</span></a>
                        <a class="nav-link ms-3" (click)="deleteQuiz(quiz.id)"><i class="bi bi-trash-fill"></i><span class="ms-2">Delete</span></a>
                        <a class="nav-link ms-3" data-toggle="modal" data-target="#exampleModal" ><i class="bi bi-camera-fill" style="margin-right: 8px;"></i>Upload Image</a>
                    </div>
                </div>
                <div class="col-md-4" style="background: #89929b;">
                    <div class="quizz-details mt-3 text-start">
                        <div class="info-cards text-start">
                            <div class="info-card">
                                <div class="info-type"> 
                                    <i class="bi bi-question-lg"></i>
                                    <span>QUESTIONS</span></div>
                                <div class="info-value">
                                    <h4>{{quiz.numberOfQuestions}}</h4>
                                </div>
                            </div>
                            <div class="info-card ms-3">
                                <div class="info-type"> 
                                    <i class="bi bi-alarm"></i>
                                    <span>MINUTES</span>
                                </div>
                                <div class="info-value">
                                    <h4> {{quiz.duration}}</h4>
                                </div>
                            </div>
                            <div class="info-card ms-3">
                                <div class="info-type"> 
                                    <i class="bi bi-bookmark-star"></i>
                                    <span>MARKS</span>
                                </div>
                                <div class="info-value">
                                    <h4>{{quiz.marks}}</h4>
                                </div>
                            </div>
                        </div>
                            <div class="quizz-ratings d-flex justify-content-center align-items-center mb-3">
                                <div class="quizz-rating"> 
                                    <strong>Classement</strong>
                                    <div class="quizz-rating__stars star_3"> 
                                        <i class="bi bi-star-fill" data-rating="1"></i>
                                        <i class="bi bi-star-fill" data-rating="2"></i>
                                        <i class="bi bi-star-fill" data-rating="3"></i>
                                        <i class="bi bi-star" data-rating="4"></i>
                                        <i class="bi bi-star" data-rating="5"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
            <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                      <div class="header">
                          <h4 class="modal-title" id="exampleModalLabel">Choose your profile Image</h4> 
                      </div>
                    <div class="modal-body">
                      <div class="mb-3">
                          <input 
                              type="file" 
                              class="form-control"
                              (change)="handleFileInput($event)"
                              id="fileInput"
                              style="display: none;"
                          >
                          <button class="btn-upload" type="submit" id="inputGroupFileAddon04" (click)="uploadFile()"><i class="bi bi-plus-lg" style="margin-right: 18px;"></i>Import Image</button>
                      </div>
                          <p class="mb-3" style="color: #89929b;">File selected: <span style="color: #fff;">{{filename}}</span></p>
                          <div class="selected-image d-flex justify-content-center align-items-center " *ngIf="selectImage">
                              <img [src]="selectImage" alt="">
                          </div>
                          <div class="mt-5">
                              <button *ngIf="filename" class="btn btn-secondary" (click)="uploadProfileImage(quiz.id)">Upload</button>
                          </div>
                    </div>
                  </div>
                </div>
              </div>
        </mat-card>
    </div-->
</div>