.container {
    margin-bottom: 12px;
    background: #fff;
}
.mt10 {
    margin-top: 12px;
    padding-bottom: 6px;
}

.example-header-image {
    background-image: url('../../../../assets/trophee.png');
    background-size: cover;
  }

mat-card {
    font-family: 'Ubuntu';
}

.title-question {
    margin-left: 16px;
    font-family: 'Ubuntu';
}

.btn-add-quiz {

    padding: 12px 20px;
    border: none;
    border-radius: 10px;
    background: #22c55e;
    color: #fff;
    font-family: 'Ubuntu';
    transition: all 0.1s ease;
}

.btn-add-quiz:hover {
    background: #0e223e;
    color: #fff;
}

.btn-question {
    background: #0e223e;
    color: #fff;
    border: none;
    border-radius: 18px;
    padding: 8px 16px;
    transition: all 0.1s ease;
}

.btn-question:hover {
    background: #0e223e;
    color: #fff;
    opacity: 0.8;

}
.btn-update {
    background: #3b82f6;
    color: #fff;
    border: none;
    border-radius: 18px;
    padding: 8px 16px;
}

.btn-update:hover {
    opacity: .8;
}

.btn-attempt {
    background: #fb7185;
    color: #fff;
    border: none;
    border-radius: 18px;
    padding: 8px 16px;
}

.btn-attempt:hover {
    opacity: .8;
}

.attempt {
    background: #0e223e;
}

