.contain {
    width: 100%;
    background: transparent;
    padding-bottom: 18px;
    margin-left: 10px;
}

.content {
    padding-top: 16px;
    padding-right: 10px;
    background: transparent;
    border-radius: 10px;
}

.content-top {
    padding: 14px;
    background: transparent;
    margin-bottom: 16px;
    border-radius: 12px;
}

.btn-success {
    padding: 4px;
    font-size: 12px;
}
.dropdown * {
    box-sizing: border-box;
}

.dropdown .select {
    background: var(--primary-100);
    width: 100px;
    color: var(--text-100);
    display: flex;
    font-family: 'Roboto';
    justify-content: space-between;
    align-items: center;
    padding: 0.3em 0.7em;
    margin-top: 14px;
    margin-left: 12px;
    border-radius: 0.4rem;
    transition: all 0.5s ease;
    cursor: pointer;
}

.select:hover {
    background: #fff;
}

.caret {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 6px solid #fff;
    transition: 0.3s;
}

.caret-rotate {
    transform: rotate(180deg);
}

.menu {
    list-style: none;
    margin-top: 0.3em;
    padding: 0.2em 0.5em;
    background: var(--bg-100);
    border-radius: 0.5em;
    color: var(--primary-300);
    position: absolute;
    width: 200px;
    opacity: 0;
    display: none;
    transition: 0.7s;
    z-index: 1;
}

.menu li {
    padding: 0.7em 0.5em;
    margin: 0.3em 0;
    border-radius: 0.5em;
    cursor: pointer;
}

.menu li:hover {
    background: var(--primary-300);
    color: var(--bg-300);
}

.menu-open {
    display: block;
    opacity: 1;
}

.dropdown .active {
    background: #23242a;
}

.text-result {
    border-top: 1px solid var(--bg-200);
    border-bottom: 1px solid var(--bg-200);
    margin-left: 16px;
    margin-top: 12px;
    padding: 16px;
    font-family: 'Roboto';
    color: var(--text-200);
}

.text-result strong {
    color: var(--primary-100);
    margin-right: 10px;
    font-size: 14px;
}

.table {
    thead {
        th {
            background: transparent;
            padding: 15px;
            color: var(--text-300);
            font-weight: 500;
        }
    }

    tbody {
        tr {
            td {
                background: transparent;
                border: 0;
                padding: 15px;
                font-size: 12px;
                color: var(--text-100);
    
                .quiz {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
    
                    .btn-requiz {
                        background: transparent;
                        border: 0;
                        color: var(--special-300);
                        font-size: 12px;
                        padding: 4 12px;
                        border-radius: 4px;
                        transition: all .6s ease;
    
                        i {
                            font-size: 16px;
                        }
                    }
                                    
                    .btn-requiz:hover  {
                        opacity: .7;
                    }
                }

                .nav-link {
                    color: var(--delete-100);
                }
            }
        }

        tr:nth-child(even) {
            background: var(--bg-200);
        }
    }

    .nav-link {
        i {
            font-size: 16px;
            font-weight: 600;
        }
    }
}

.paginator {
    margin-top: 16px;
    margin-bottom: 24px;
    border-radius: 8px;
}

/***/

.fixed-right {
    background: var(--bg-100);
    padding-top: 20px;
    margin-right: 14px;
    border-radius: 10px;
    position: sticky;
    top: 0;
    width: 95%;

    i {
        color: var(--primary-300);
        font-size: 16px;
    }
    
    .title-right {
        margin-left: 14px;
        margin-right: 14px;
        font-size: 16px;
        color: var(--primary-300);
    } 
}


/**/

.divider {
    margin-bottom: 16px;
    padding-bottom: 14px;
    padding-left: 10px;
    color: var(--primary-300);
    border-bottom: 1px solid var(--bg-200);
}

.content-quiz {
    margin-bottom: 16px;
}

.card-quiz{
    background: var(--bg-200);
    border-radius: 8px;
    padding: 16px;
}

.card-quiz .image {
    img {
        height: 32px;
        width: 32px;
        margin-right: 14px;
    }
}

.card-quiz .header {
    margin: 12px;
}

.card-quiz .details .title {
    color: var(--text-100);
    font-size: 16px ;
    font-weight: 600;
    margin-bottom: 5px;
}

.card-quiz .details .subtitle {
    color: var(--text-300);
    font-size: 14px;
}

.card-quiz .image-quiz {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
        width: 300px;
        height: 150px;
        border-radius: 8px;
    }
}

.card-quiz .image-quiz .question {
    position: absolute;
    top: 10%;
    left: 20px;
    padding: 10px 14px;
    background: var(--special-200);
    opacity: .7;
    border-radius: 5px;
    color: var(--text-100);

}

.card-quiz .btn-start-quiz {
    width: 300px;
    background: var(--primary-100);
    border: none;
    border-radius: 5px;
    padding: 12px 14px;
    color: var(--text-100);
    transition: opacity 0.5s ease;
}

.card-quiz .btn-start-quiz:hover {
    opacity: .7;
}

/**/

.card {
    margin: 14px 12px;
    padding: 12px 12px 18px 16px;
    transition: all .6s ease; 
    background: var(--bg-200);

    .title{
        margin-top: 10px;
        margin-left: 14px;
        margin-bottom: 10px;
        color:var(--text-100);
        font-size: 16px;
        font-weight: 500;
        font-family: 'Poppins';
    }

    .subtitle {
        margin-left: 12px;
        margin-bottom: 2px;
        color: var(--text-200);
        font-size: 12px;
    }

    button {
        border: 0;
        background: var(--special-300);
        color: var(--text-100);
        padding: 6px;
        border-radius: 8px;
        margin-left: 12px;
        margin-top: 14px;
        width: 40%;
        font-family: 'Roboto';
        transition: all 0.6s ease;
    }

    .card button:hover {
        opacity: .7s;
    }
}

.card:hover {
    opacity: .8;
}

.btn-all-quizzes {
    margin-left: 16px;
    padding: 14px;
    border: 0;
    background: transparent;
    color: var(--primary-300);
    font-weight: 500;
    transition: all 0.5s ease;
    font-family: 'Roboto';
}

.btn-all-quizzes:hover {
    opacity: .6;
}
