<mat-card class="mt-3">
    <h1 class="text-center mt-3">Add new Quiz</h1>
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <form [formGroup]="formGroup" (ngSubmit)="addQuiz()">
                <mat-form-field class="w-100" appearance="outline">
                    <mat-label>Enter the title</mat-label>
                    <input autofocus matInput placeholder="new quiz..." formControlName="title" required>
                </mat-form-field>
                <mat-form-field class="w-100" appearance="outline">
                    <mat-label>Description</mat-label>
                    <textarea matInput rows="5" formControlName="description"></textarea>
                </mat-form-field>
                <mat-form-field class="w-100 category" appearance="outline">
                    <mat-label>Category</mat-label>
                    <mat-select formControlName="categoryId">
                        <mat-option *ngFor="let category of categories" [value]="category.id">{{category.title}}</mat-option>
                    </mat-select>
                </mat-form-field>

                
                <div class="row">
                    <div class="col-md-6">
                        <mat-form-field class="w-100" appearance="outline">
                            <mat-label>Maximum marks</mat-label>
                            <input autofocus matInput placeholder="new quiz..." formControlName="marks" required>
                        </mat-form-field>
                    </div>
                    <div class="col-md-6">
                        <mat-form-field class="w-100" appearance="outline">
                            <mat-label>Number of questions</mat-label>
                            <input autofocus matInput placeholder="new quiz..." formControlName="numberOfQuestions" required>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <mat-form-field class="full-width">
                            <mat-label>Duration</mat-label>
                            <mat-select formControlName="duration">
                              <mat-option *ngFor="let duration of durations" [value]="duration*5">{{duration*5}}</mat-option>
                            </mat-select>
                          </mat-form-field>
                    </div>
                    <div class="col-md-6">
                        <mat-slide-toggle color="primary" class="mb-2" formControlName="active">Publish status</mat-slide-toggle>
                    </div>
                </div>

                <div class="container text-center">
                    <button class="btn btn-save mt-3" [disabled]="formGroup.invalid">Save</button>
                </div>
            </form>
        </div>
    </div>
</mat-card>