.container-1 {
    font-family: 'Poppins';
    margin-bottom: 60px;
    main.row {
        section.col {
            i.instruction {
                color: var(--text-200);
                margin-left: 28px;
                font-size: 12px;
                
                span {
                    color: var(--delete-100);
                }
            }

            header.title {
                display: flex;
                justify-content: space-between;

                h3 {
                    color: var(--text-100);
                    font-family: 'Poppins';
                    font-weight: 550;
                }

                .action {
                    button {
                        border: 0;
                        padding: 6px 20px;
                        border-radius: 6px;
                    }

                    button.cancel {
                        margin-right: 6px;
                        font-weight: 550;

                        i {
                            margin-right: 6px;
                        }
                    }

                    button.next {
                        background: var(--primary-200);
                        color: var(--bg-100);
                        font-weight: 550;

                        i {
                            margin-left: 6px;
                        }
                    }
                }
            }

            .contents {
                .step-add {
                    margin-top: 16px;

                    ul {
                        display: flex;
                        justify-content: space-between;
                        margin: 0;
                        width: 100%;
                        position: relative;

                        li {
                            list-style: none;
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            justify-content: center;
                            
                            i {
                                font-size: 18px;
                                color: var(--text-200);
                            }

                            span {
                                color: var(--text-200);
                                font-size: 12px;
                            }

                            .progress1 {
                                margin: 16px 0;
                                width: 30px;
                                height: 30px;
                                background: var(--bg-100);
                                border: 1px solid var(--primary-200);
                                border-radius: 50%;
                                color: var(--primary-100);
                                font-weight: 550;
                                display: grid;
                                place-items: center;
                                position: relative;

                                i {
                                    display: none;
                                }
                                
                            }

                            .progress1::after {
                                content: "";
                                position: absolute;
                                width: 250px;
                                left: 30px;
                                height: 2px;
                                background: var(--bg-200);
                                z-index: -10;
                                transition: all .7s ease;
                            }
                        }

                        li.end .progress1::after {
                            width: 0;
                            height: 0;
                        }

                        li.active {
                            i, span {
                                color: var(--text-100);
                            }
                        }

                        li.active .progress1 {
                            background: var(--primary-200);
                            color: var(--bg-100);

                            span {
                                display: none;
                            }

                            i {
                                display: block;
                                font-size: 18px;
                                color: var(--text-100);
                            }
                        }

                        li.active .progress1::after {
                            background: var(--primary-200);
                        }
                    }
                }
                
                .landing {
                    margin:16px 3%;

                    .box {
                        display: none;

                        .box-title {
                            margin-bottom: 30px;

                            h4 {
                                font-size: 13px;

                                color: var(--text-100);
                                span {
                                    color: var(--primary-200);
                                }
                            }

                            h2 {
                                color: var(--primary-200);
                            }
                        }

                        label {
                            color: var(--text-100);
                            margin-bottom: 14px;

                            span {
                                color: var(--delete-100);
                            }

                            small {
                                font-size: 12px;
                                color: var(--text-200);
                            }
                        }

                        .field {
                            border: 1px solid var(--bg-200);
                            padding: 8px 12px;
                            border-radius: 8px;
                            margin-bottom: 16px;
                            width: 100%;
            
                            i {
                                color: var(--primary-200);
                                margin-right: 12px;
                            }
            
                            input {
                                background: transparent;
                                color: var(--text-200);
                                outline: none;
                                border: 0;
                                width: 90%;
                            }
            
                            ::placeholder {
                                color: var(--text-200);
                            }
                        }

                        .upload {
                            background: transparent;
                            border: 1px solid var(--bg-200);
                            color: var(--text-200);
                            border-radius: 8px;
                            width: 100%;
                            outline: none;
                            margin-bottom: 16px;
                        }

                        ::-webkit-file-upload-button {
                            background: var(--primary-200);
                            border: 0;
                            color: var(--bg-100);
                            font-weight: 550;
                            padding: 8px 12px;
                            margin-right: 10px;
                            border-right: 1px solid var(--bg-300);
                            cursor: pointer;
                        }

                        .upload-file {
                            padding: 0;
                            border-radius: 8px;
                            display: flex;
                            
                                span {
                                    color: var(--text-100);
                                    background: var(--bg-300);
                                    padding: 8px 12px;
                                    width: 30%;
                                    margin-right: 14px;
                                    border-right: 1px solid var(--bg-200);
                                    border-radius: 8px 0 0 8px;
                                }
                        }
            
                        .field:focus-within {
                            border: 1px solid var(--primary-200);
                        } 

                        .select-container {
                            position: relative;
                            margin-bottom: 16px;

                            .select-option {
                                border: 1px solid var(--bg-200);
                                padding: 8px 12px;
                                border-radius: 8px;
                                margin-bottom: 16px;
                                width: 100%;
                                display: flex;
                                cursor: pointer;

                                i {
                                    color: var(--primary-200);
                                    margin-right: 12px;
                                }
                
                                input {
                                    background: transparent;
                                    color: var(--text-200);
                                    outline: none;
                                    border: 0;
                                    width: 90%;
                                }
                
                                ::placeholder {
                                    color: var(--text-200);
                                }
                            }

                            .select-content {
                                background: var(--bg-300);
                                border: 1px solid var(--bg-200);
                                position: absolute;
                                border-radius: 8px;
                                width: 100%;
                                z-index: 999;
                                padding: 12px;
                                display: none;

                                .option-search {
                                    input {
                                        width: 100%;
                                        padding: 12px;
                                        outline: 0;
                                        border: 1px solid var(--primary-200);
                                        background: transparent;
                                        color: var(--primary-200);
                                        border-radius: 8px;
                                    }
                                }

                                ul.options {
                                    margin-top: 14px;
                                    max-height: 200px;
                                    overflow-y: auto;
                                    padding: 0;

                                    li {
                                        color: var(--text-200);
                                        list-style: none;
                                        font-size: 12px;
                                        padding: 10px 12px;
                                        border-bottom: 1px solid var(--bg-200);
                                        cursor: pointer;

                                        i {
                                            color: var(--text-200);
                                            margin-right: 8px;
                                        }
                                    }

                                    li:hover {
                                        background: var(--bg-100);
                                    }
                                }

                                ul::-webkit-scrollbar {
                                    display: none;
                                  }
                            }

                            .select-content.open {
                                display: block;
                            }
                            
                        }
                    }

                    .box.active {
                        display: block;
                    }

                    .box.info {
                        .info-title {
                            margin-bottom: 30px;

                            h4 {
                                font-size: 13px;

                                color: var(--text-100);
                                span {
                                    color: var(--primary-200);
                                }
                            }

                            
                        }

                        main.row {
                            section.col {
                                label {
                                    color: var(--text-100);
                                    margin-bottom: 14px;
        
                                    span {
                                        color: var(--delete-100);
                                    }
                                }

                                .field {
                                    width: 100%;
                                }

                                .upload {
                                    width: 100%;
                                }
                            }

                            section.col.one {
                                width: 100%;
                            }
                        }
                        
                    }

                    .box.create-quiz {
                        .questions {
                            margin-bottom: 20px;
                            border: 1px solid var(--bg-200);
                            border-radius: 8px;
                            padding: 16px;

                            main.row {
                                .field {
                                    background: var(--bg-300);
                                }

                                ::placeholder {
                                    font-size: 12px;
                                }
                            }

                            button.submit {
                                border: 0;
                                background: var(--primary-100);
                                color: var(--bg-100);
                                font-weight: 550;
                                padding: 8px 24px;
                                border-radius: 8px;
                            }

                        }

                        h2 {
                            color: var(--text-200);
                        }
                    }

                    .box.resume {
                        h2 {
                            color: var(--primary-100);
                        }
                        
                        h3 {
                            color: var(--text-100);
                            margin-bottom: 4px;
                        }

                        span {
                            color: var(--text-200);
                            margin-bottom: 18px;
                        }
                    }
                }
            }
        }
    }
}

/***.content {
    background: #21262d;
    padding: 24px;
    border-radius: 12px;
    margin-bottom: 18px;
}

mat-card {
    font-family: 'Ubuntu';
}

mat-label {
    color: #fff;
}

mat-form-field input {
    color: #fff;
}

.btn-save {
    background: #ea580c;
    padding: 8px 24px;
    color: #fff;
    font-family: 'Poppins';
    margin-bottom: 32px;
    border: 0;
    cursor: pointer;
    border-radius: 8px;
}

.btn-save:hover {
    background: #dc2626;
    transition: all 0.25ms;
}

.category::-webkit-scrollbar {
    width: 20px;
    background: #000000;
}
  
.category::-webkit-scrollbar-thumb {
    background: #dc2626;
    border-radius: 12px;
    border: 6px solid #000000;
}

.nav-link:hover {
    color: #ea580c;
}

***/