<div class="contain">
    <div class="row">
        <div class="col-md-8">
            <div class="container-1">
                <main class="row">
                    <section class="col">
                        <header class="title">
                            <h3>Create new Quiz</h3>
                            <div class="action">
                                <button class="cancel" (click)="backStep()"><i class="bi bi-chevron-left"></i>Back</button>
                                <button class="next" (click)="nextStep()">Next<i class="bi bi-chevron-right"></i></button>
                            </div>
                        </header>
                        <div class="contents">
                            <div class="step-add">
                                <ul>
                                    <li [class.active]="activeSteps[0]">
                                        <i class="bi bi-file-earmark-text"></i>
                                        <div class="progress1">
                                            <span>1</span>
                                            <i class="bi bi-check"></i>
                                        </div>
                                        <span class="description">Course & Lesson</span>
                                    </li>
                                    <li [class.active]="activeSteps[1]">
                                        <i class="bi bi-info-square"></i>
                                        <div class="progress1">
                                            <span>2</span>
                                            <i class="bi bi-check"></i>
                                        </div>
                                        <span class="description">Info Quiz</span>
                                    </li>
                                    <li [class.active]="activeSteps[2]">
                                        <i class="bi bi-file-earmark-plus"></i>
                                        <div class="progress1">
                                            <span>3</span>
                                            <i class="bi bi-check"></i>
                                        </div>
                                        <span class="description">Create Quiz</span>
                                    </li>
                                    <li [class.active]="activeSteps[3]" class="end">
                                        <i class="bi bi-check2-square"></i>
                                        <div class="progress1">
                                            <span>4</span>
                                            <i class="bi bi-check"></i>
                                        </div>
                                        <span class="description">Success</span>
                                    </li>
                                </ul>
                            </div>
                            
                            <form action="">
                                <div [class.active]="activestepCount=== 0" class="box course">
                                    <div class="course-title">
                                        <h4>You can upload or make an course or lesson so that the <span>Student</span> read before to start the <span>Quiz</span></h4>
                                    </div>

                                    <label>Title <span>*</span></label>
                                    <div class="field">
                                        <i class="bi bi-card-heading"></i>
                                        <input type="text" placeholder="Title" formControlName="title">
                                    </div>

                                    <label>Description <span>*</span></label>
                                    <div class="field">
                                        <i class="bi bi-pencil-square"></i>
                                        <input type="text" placeholder="description" formControlName="description">
                                    </div>

                                    <label>Upload course or lesson <span>*</span></label>
                                    <div>
                                        <input type="file" class="upload" placeholder="No file choosen" formControlName="description">
                                    </div>
                                </div>

                                <div class="box info" [class.active]="activestepCount=== 1">
                                    <div class="info-title">
                                        <h4>Complete the informations about your <span>Quiz</span></h4>
                                    </div>

                                    <main class="row">
                                        <section class="col one">
                                            <label>Title <span>*</span></label>
                                                <div class="field">
                                                    <i class="bi bi-card-heading"></i>
                                                    <input type="text" placeholder="title" formControlName="title">
                                                </div>

                                                <label>Category <span>*</span></label>
                                                <div class="select-container">
                                                    <div class="select-option" (click)="toggleSelect()">
                                                        <i class="bi bi-cart-check"></i>
                                                        <input type="text" placeholder="Category" formControlName="title" readonly>
                                                        <i class="bi bi-caret-down-fill"></i>
                                                    </div>
                                                    <div class="select-content" [class.open]="selectOpen">
                                                        <div class="option-search">
                                                            <input type="text" placeholder="Search category...">
                                                        </div>
                                                        <ul class="options">
                                                            <li *ngFor="let category of categories">{{category.title}}</li>
                                                        </ul>
                                                    </div>
                                                </div>

                                                <label>Level <span>*</span></label>
                                                <div class="field">
                                                    <i class="bi bi-bar-chart"></i>
                                                    <input type="text" placeholder="level" formControlName="level">
                                                </div>
                                                
                                                <label>Upload image<span>*</span></label>
                                                <div>
                                                    <input type="file" class="upload" placeholder="No file choosen" formControlName="description">
                                                </div>
                                        </section>

                                        <section class="col two">
                                            <label>Description <span>*</span></label>
                                            <div class="field">
                                                <i class="bi bi-pencil-square"></i>
                                                <input type="text" placeholder="Description" formControlName="description">
                                            </div>

                                            <label>Number of Questions <span>*</span></label>
                                            <div class="field">
                                                <i class="bi bi-list-ol"></i>
                                                <input type="text" placeholder="Number of Questions" formControlName="numberOfQuestions">
                                            </div>

                                            
                                            <label>Duration<span>*</span></label>
                                            <div class="field">
                                                <i class="bi bi-translate"></i>
                                                <input type="text" placeholder="language" formControlName="language">
                                            </div>

                                            <label>Language<span>*</span></label>
                                            <div class="field">
                                                <i class="bi bi-translate"></i>
                                                <input type="text" placeholder="language" formControlName="language">
                                            </div>

                                        </section>
                                        <i class="instruction">All field with <span>*</span> are required!</i>
                                    </main>

                                </div>
                            </form>
                        </div>
                    </section>
                </main>
            </div>

            <!--h2 class="text-center" style="color: #89929b;">Add new Quiz</h2>
            <form [formGroup]="formGroup" (ngSubmit)="addQuiz()">
                <div class="mb-2">
                    <i class="bi bi-paragraph" style="color: #89929b;"></i><strong class="ms-2" style="color: #89929b;">Enter the title of the Quiz</strong>
                </div>
                <mat-form-field class="w-100" appearance="outline">
                    <mat-label>Enter the title</mat-label>
                    <input autofocus matInput placeholder="new quiz..." formControlName="title" required style="color: aliceblue;">
                </mat-form-field>
                <div class="mb-2">
                    <i class="bi bi-question-diamond-fill" style="color: #89929b;"></i><strong class="ms-2" style="color: #89929b;">Enter the description here</strong>
                </div>
                <mat-form-field class="w-100" appearance="outline">
                    <mat-label>Description</mat-label>
                    <textarea matInput rows="5" formControlName="description" style="color: aliceblue;"></textarea>
                </mat-form-field>
                <div class="mb-2">
                    <i class="bi bi-question-diamond-fill" style="color: #89929b;"></i><strong class="ms-2" style="color: #89929b;">Enter the image url here</strong>
                </div>
                <mat-form-field class="w-100" appearance="outline">
                    <mat-label>Enter the image url</mat-label>
                    <input autofocus matInput placeholder="image url" formControlName="imageUrl" required style="color: aliceblue;">
                </mat-form-field>
                <div class="mb-2">
                    <i class="bi bi-bookmark-check-fill" style="color: #89929b;"></i><strong class="ms-2" style="color: #89929b;">Choose the category</strong>
                </div>
                <mat-form-field class="w-100 category" appearance="outline">
                    <mat-label>Category</mat-label>
                    <mat-select formControlName="categoryId">
                        <mat-option *ngFor="let category of categories" [value]="category.id">{{category.title}}</mat-option>
                    </mat-select>
                </mat-form-field>

                
                <div class="row">
                    <div class="col-md-6">
                        <div class="mb-2">
                            <i class="bi bi-check-square-fill" style="color: #89929b;"></i><strong class="ms-2" style="color: #89929b;">Give the maximum marks</strong>
                        </div>
                        <mat-form-field class="w-100" appearance="outline">
                            <mat-label>Maximum marks</mat-label>
                            <input autofocus matInput placeholder="new quiz..." formControlName="marks" required>
                        </mat-form-field>
                    </div>
                    <div class="col-md-6">
                        <div class="mb-2">
                            <i class="bi bi-question-circle-fill" style="color: #89929b;"></i><strong class="ms-2" style="color: #89929b;">Give the number of Question</strong>
                        </div>
                        <mat-form-field class="w-100" appearance="outline">
                            <mat-label>Number of questions</mat-label>
                            <input autofocus matInput placeholder="new quiz..." formControlName="numberOfQuestions" required>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <mat-form-field class="full-width">
                            <mat-label>Duration</mat-label>
                            <mat-select formControlName="duration">
                              <mat-option *ngFor="let duration of durations" [value]="duration*2">{{duration*2}}</mat-option>
                            </mat-select>
                          </mat-form-field>
                    </div>
                    <div class="col-md-4">
                        <mat-form-field class="full-width">
                            <mat-label>Difficulty</mat-label>
                            <mat-select formControlName="difficulty">
                              <mat-option value="Easy">Easy</mat-option>
                              <mat-option value="Medium">Medium</mat-option>
                              <mat-option value="Hard">Hard</mat-option>
                            </mat-select>
                          </mat-form-field>
                    </div>
                    <div class="col-md-4">
                        <mat-form-field class="full-width">
                            <mat-label>Language</mat-label>
                            <mat-select formControlName="language">
                              <mat-option *ngFor="let language of languages" [value]="language">{{language}}</mat-option>
                            </mat-select>
                          </mat-form-field>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-4 d-flex align-items-center">
                                <mat-slide-toggle color="primary" class="mb-2" formControlName="active">Publish status</mat-slide-toggle>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="container d-flex justify-content-between align-items-center">
                    <button class=" btn-save mt-3" [disabled]="formGroup.invalid">Save new Quizz<i class="bi bi-cloud-download-fill ms-2"></i></button>
                    <a class="nav-link" routerLink="/admin/quizzes"><i class="bi bi-arrow-left-circle-fill" style="color: #89929b;"></i><strong class="ms-2" style="color: #89929b;">Back to Quiz List</strong></a>
                </div>
            </form>
            <div class="mb-3">
                <i style="color: #89929b;">* This field is requiered!</i>
            </div>
        </div-->
    </div>
</div>