<div class="contain">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="container-1">
                <main class="row">
                    <section class="col">
                        <header class="title">
                            <h3>Create new Quiz</h3>
                            <div class="action">
                                <button class="cancel" (click)="backStep()"><i class="bi bi-chevron-left"></i>Back</button>
                                <button class="next" (click)="nextStep()">Next<i class="bi bi-chevron-right"></i></button>
                            </div>
                        </header>
                        <div class="contents">
                            <div class="step-add">
                                <ul>
                                    <li [class.active]="activeSteps[0]">
                                        <i class="bi bi-file-earmark-text"></i>
                                        <div class="progress1">
                                            <span>1</span>
                                            <i class="bi bi-check"></i>
                                        </div>
                                        <span class="description">Course & Lesson</span>
                                    </li>
                                    <li [class.active]="activeSteps[1]">
                                        <i class="bi bi-info-square"></i>
                                        <div class="progress1">
                                            <span>2</span>
                                            <i class="bi bi-check"></i>
                                        </div>
                                        <span class="description">Info Quiz</span>
                                    </li>
                                    <li [class.active]="activeSteps[2]">
                                        <i class="bi bi-file-earmark-plus"></i>
                                        <div class="progress1">
                                            <span>3</span>
                                            <i class="bi bi-check"></i>
                                        </div>
                                        <span class="description">Create Quiz</span>
                                    </li>
                                    <li [class.active]="activeSteps[3]" class="end">
                                        <i class="bi bi-check2-square"></i>
                                        <div class="progress1">
                                            <span>4</span>
                                            <i class="bi bi-check"></i>
                                        </div>
                                        <span class="description">Success</span>
                                    </li>
                                </ul>
                            </div>
                            
                            <form action="">
                                <div class="box course" [class.active]="activestepCount=== 0">
                                    <div class="box-title">
                                        <h4>You can upload or make an course or lesson so that the <span>Student</span> read before to start the <span>Quiz</span></h4>
                                    </div>

                                    <label>Title <span>*</span></label>
                                    <div class="field">
                                        <i class="bi bi-card-heading"></i>
                                        <input type="text" placeholder="Title" formControlName="title">
                                    </div>

                                    <label>Description <span>*</span></label>
                                    <div class="field">
                                        <i class="bi bi-pencil-square"></i>
                                        <input type="text" placeholder="description" formControlName="description">
                                    </div>

                                    <label>Upload course or lesson <span>*</span></label>
                                    <div>
                                        <input type="file" class="upload" placeholder="No file choosen" formControlName="description">
                                    </div>
                                </div>

                                <div class="box info" [class.active]="activestepCount=== 1">
                                    <div class="box-title">
                                        <h4>Complete the informations about your <span>Quiz</span></h4>
                                    </div>

                                    <main class="row">
                                        <section class="col one">
                                            <label>Title <span>*</span></label>
                                                <div class="field">
                                                    <i class="bi bi-card-heading"></i>
                                                    <input type="text" placeholder="title" formControlName="title">
                                                </div>

                                                <label>Category <span>*</span></label>
                                                <div class="select-container category">
                                                    <div class="select-option" (click)="toggleCategorySelect()">
                                                        <i class="bi bi-cart-check"></i>
                                                        <input type="text" [placeholder]="selectCategory.value" formControlName="cateogryId" readonly>
                                                        <i class="bi bi-caret-down-fill"></i>
                                                    </div>
                                                    <div class="select-content" [class.open]="selectCategory.open">
                                                        <div class="option-search">
                                                            <input type="text" placeholder="Search category..." [(ngModel)]="searchTerm" (ngModelChange)="filterBySearchTerm()">
                                                        </div>
                                                        <div>{{searchTerm}}</div>
                                                        <ul class="options">
                                                            <li *ngFor="let category of filterCategoryBySearchTerm" (click)="selectOptionCategory(category)">
                                                                <i [ngClass]="category.icon"></i>{{category.title}}
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>

                                                <label>Level <span>*</span></label>
                                                <div class="select-container level">
                                                    <div class="select-option" (click)="toggleLevel()">
                                                        <i class="bi bi-cart-check"></i>
                                                        <input type="text" [placeholder]="selectLevel.value" formControlName="difficulty" readonly>
                                                        <i class="bi bi-caret-down-fill"></i>
                                                    </div>
                                                    <div class="select-content" [class.open]="selectLevel.open">
                                                        <ul class="options">
                                                            <li *ngFor="let level of levels" (click)="selectOptionLevel(level)" >
                                                                {{level}}
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                
                                                <label>Upload image<span>*</span></label>
                                                <div>
                                                    <input type="file" class="upload" placeholder="No file choosen" formControlName="description">
                                                </div>
                                        </section>

                                        <section class="col two">
                                            <label>Description <span>*</span></label>
                                            <div class="field">
                                                <i class="bi bi-pencil-square"></i>
                                                <input type="text" placeholder="Description" formControlName="description">
                                            </div>

                                            <label>Number of Questions <span>*</span></label>
                                            <div class="field">
                                                <i class="bi bi-list-ol"></i>
                                                <input type="text" placeholder="Number of Questions" formControlName="numberOfQuestions">
                                            </div>

                                            <label>Duration<span> *</span> <small class="info"> (Minutes)</small></label>
                                            <div class="select-container duration">
                                                <div class="select-option" (click)="toggleDuration()">
                                                    <i class="bi bi-cart-check"></i>
                                                    <input type="text" [placeholder]="selectDuration.value" formControlName="duration" readonly>
                                                    <i class="bi bi-caret-down-fill"></i>
                                                </div>
                                                <div class="select-content" [class.open]="selectDuration.open">
                                                    <ul class="options">
                                                        <li *ngFor="let duration of durations" (click)="selectOptionDuration(duration*2)" >
                                                            {{duration*2}}
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>

                                            <label>Language<span>*</span></label>
                                            <div class="select-container language">
                                                <div class="select-option" (click)="toggleLanguage()">
                                                    <i class="bi bi-cart-check"></i>
                                                    <input type="text" [placeholder]="selectLanguage.value" formControlName="language" readonly>
                                                    <i class="bi bi-caret-down-fill"></i>
                                                </div>
                                                <div class="select-content" [class.open]="selectLanguage.open">
                                                    <ul class="options">
                                                        <li *ngFor="let language of languages" (click)="selectOptionLanguage(language)" >
                                                            {{language}}
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>

                                        </section>
                                    </main>

                                </div>

                                <div class="box create-quiz" [class.active]="activestepCount=== 2">
                                    <div class="box-title">
                                        <h2>Questions</h2>
                                        <h4>Create the <span>Quiz</span> now....First, let's create the <span>Questions</span> of your <span>Quiz</span></h4>
                                    </div>
                                    
                                    <div class="questions" *ngFor="let index of categories let i= index" [hidden]="currentQuestionAdd!== i">
                                        <label>Question {{i+1}} <span>*</span></label>
                                        <div class="field">
                                            <i class="bi bi-patch-question"></i>
                                            <input type="text" placeholder="Add Question" formControlName="question">
                                        </div>
                                        
                                        <main class="row">
                                            <section class="col question-one">
                                                <div class="field">
                                                    <i class="bi bi-patch-question"></i>
                                                    <input type="text" placeholder="Option n°1" formControlName="description">
                                                </div>
                                                <div class="field">
                                                    <i class="bi bi-patch-question"></i>
                                                    <input type="text" placeholder="Option n°3" formControlName="description">
                                                </div>
                                            </section>
                                            <section class="col question-two">
                                                <div class="field">
                                                    <i class="bi bi-patch-question"></i>
                                                    <input type="text" placeholder="Option n°2" formControlName="description">
                                                </div>
                                                <div class="field">
                                                    <i class="bi bi-patch-question"></i>
                                                    <input type="text" placeholder="Option n°4" formControlName="description">
                                                </div>
                                            </section>
                                        </main>

                                        <button class="submit" (click)="showNextQuestionAdd()">Submit</button>
                                    </div>
                                    <h2 *ngIf="currentQuestionAdd=== categories.length">All Questions added successfully...You have finished this Step</h2>
                                </div>

                                <div class="box resume" [class.active]="activestepCount=== 3">
                                    <div class="course-resume">
                                        <h2>Course or Lesson</h2>
                                        <h3>Title</h3>
                                        <span>{{formGroupCourse.value.title}}</span>
                                        <h3>Description</h3>
                                        <span>{{formGroupCourse.value.description}}</span>
                                    </div>

                                    <div class="info-quiz-resume">
                                        <h2>Quiz description</h2>
                                        <h3>Title</h3>
                                        <span>{{formGroupQuiz.value.title}}</span>
                                        <h3>Description</h3>
                                        <span>{{formGroupQuiz.value.description}}</span>
                                        <h3>Category</h3>
                                        <span>{{formGroupQuiz.value.categoryId }}</span>
                                        <h3>Number of questions</h3>
                                        <span>{{formGroupQuiz.value.numberOfQuestions}}</span>
                                        <h3>Level</h3>
                                        <span>{{formGroupQuiz.value.level}}</span>
                                        <h3>Duration</h3>
                                        <span>{{formGroupQuiz.value.duration}}</span>
                                        <h3>Language</h3>
                                        <span>{{formGroupQuiz.value.language}}</span>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <i class="instruction">All field with <span>*</span> are required!</i>
                    </section>
                </main>
            </div>
    </div>
</div>