

.content {
    background: #21262d;
    padding: 24px;
    border-radius: 12px;
    margin-bottom: 18px;
}

mat-card {
    font-family: 'Ubuntu';
}

.btn-save {
    background: #ea580c;
    padding: 8px 24px;
    color: #fff;
    font-family: 'Poppins';
    margin-bottom: 32px;
    border: 1px solid #0e223e;
    cursor: pointer;
}

.btn-save:hover {
    background: #0e223e;
    transition: all 0.25ms;
}

.category::-webkit-scrollbar {
    width: 20px;
    background: #000000;
}
  
.category::-webkit-scrollbar-thumb {
    background: #dc2626;
    border-radius: 12px;
    border: 6px solid #000000;
}

.nav-link:hover {
    color: #ea580c;
}