<div class="contain">
    <div class="background"></div>
    <div class="row content-content">
        <div class="col-md-12 content-home" >
            <div class="row">
                <div class="col-md-6">
                    <div class="card-left">
                        <div class="m-3 text-center">
                            <h1>Welcome to <span>QuizTech</span></h1>
                            <p class="mt-3">Your ultimate platform for assessing and enhancing your technology skills. 
                                Dive into our diverse collection of meticulously crafted quizzes, spanning a wide range of technological topics. 
                                Test your knowledge, challenge yourself, and track your progress over time
                            </p>
                            <button class="started" (click)="loginRequired()">Get Started</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="card-right d-flex justify-content-center align-items-center">
                        <img src="" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright">
        <span>© Created by Fuji Vanilli</span>
    </div>
</div>