.contain {
    width: 100%;
    height: 100%;
    margin-top: 70px;
}

.content {
    border-right: 1px solid #525252;
}

.card {
    height: 140px;
    margin: 14px 12px;
    background: #ef4444;
}

.card button {
    border: 0;
    background: #fff;
    padding: 6px ;
    width: 50%;
    border-radius: 8px;
    margin-left: 12px;
    margin-top: 18px;
    font-family: 'Roboto';
    transition: all 0.6s ease;
}

.card button:hover {
    background: #d4d4d4;
    opacity: .7s;
}

.card .title{
    margin: 10px 12px;
    color:#fff;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Poppins';
}

.card .subtitle {
    margin-left: 12px;
    margin-bottom: 6px;
    color:#fff;
    font-size: 12px;
}