.contain {
    background: #fff;
    width: 100%;
    height: 100vh;
    margin-top: 60px;
    overflow: hidden;
    position: relative;
}

.background {
    background-image: url('../../../assets/campan2.gif');
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: transform 0.5s ease;
}

.content-content {
    position: relative;
    z-index: 1;
}

.card-left {
    margin-top: 100px;
    border-radius: 6px;
    width: 80%;
    //background: rgba(255, 255, 255, .1);
    padding-top: 16px;
    padding-bottom: 16px;
    margin-left: 30px;
}

.card-left h1, p {
    color: #e5e5e5;
    font-family: 'Roboto';
}

.card-left h1 {
    font-size: 42px;
    margin-bottom: 24px;
}

.card-left span {
    background: #EE1D52;
    padding: 10px 10px;
    border-radius: 10px;
    font-family: 'Anta';
}

.card-left p {
    line-height: 2;
    font-size: 20px;
}

.card-left .started {
    margin-top: 16px;
    border: 0;
    border-radius: 2px;
    padding: 16px 48px;
    background: rgba(255, 255, 255, 0.2);
    color: #d4d4d4;
    font-size: 18px;
    font-weight: 600;
    transition: all .7s ease;
}

.card-left button:hover {
    opacity: .8;
}

.card {
    height: 140px;
    margin: 14px 12px;
    background: #ef4444;
    transition: all .6s ease;
}

.card:hover {
    opacity: .8;
}

.card button {
    border: 0;
    background: #fff;
    padding: 6px ;
    width: 50%;
    border-radius: 8px;
    margin-left: 12px;
    margin-top: 18px;
    font-family: 'Roboto';
    transition: all 0.6s ease;
}

.card button:hover {
    background: #d4d4d4;
    opacity: .7s;
}

.card .title{
    margin: 10px 12px;
    color:#fff;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Poppins';
}

.card .subtitle {
    margin-left: 12px;
    margin-bottom: 6px;
    color:#fff;
    font-size: 12px;
}

.copyright {
    position: fixed;
    bottom: 20px;
    right: 20px;
}

.copyright span {
    color: #cccbc8; 
    font-size: 11px; 
    margin-left: 20px;
}