<div class="container mt-3">
    <div class="bootstrap-wrapper">
        <div class="row">
            <div class="col-md-12">
                <h1>Add new Question to : </h1>
                <mat-card-header>
                    <i class="bi bi-paragraph"></i><strong class="ms-2">Enter the content of Question</strong>
                </mat-card-header>
                <form [formGroup]="formGroup" (ngSubmit)="addQuestion()">
                    <mat-form-field class="w-100 mt-3" appearance="outline">
                        <mat-label>Question content</mat-label>
                        <textarea matInput rows="3" formControlName="content" formControlName="content"></textarea>
                    </mat-form-field>
                    <i class="bi bi-question-diamond-fill"></i><strong class="ms-2">Give some option for the answer</strong>
                    <div class="row">
                        <div class="col-md-6">
                            <mat-form-field class="full-width">
                                <mat-label>Option 1</mat-label>
                                <input [(ngModel)]="options.option1" matInput #message maxlength="256" placeholder="Enter the option..." formControlName="option1">
                                <mat-hint align="start"><strong>Don't disclose personal info</strong> </mat-hint>
                                <mat-hint align="end">{{message.value.length}} / 256</mat-hint>
                              </mat-form-field>
                        </div>
                        <div class="col-md-6">
                            <mat-form-field class="full-width">
                                <mat-label>Option 2</mat-label>
                                <input [(ngModel)]="options.option2" matInput #message maxlength="256" placeholder="Enter the option..." formControlName="option2">
                                <mat-hint align="start"><strong>Don't disclose personal info</strong> </mat-hint>
                                <mat-hint align="end">{{message.value.length}} / 256</mat-hint>
                              </mat-form-field>
                        </div>
                        <div class="row mt-2">
                            <div class="col-md-6">
                                <mat-form-field class="full-width">
                                    <mat-label>Option 3</mat-label>
                                    <input [(ngModel)]="options.option3" matInput #message maxlength="256" placeholder="Enter the option..." formControlName="option3">
                                    <mat-hint align="start"><strong>Don't disclose personal info</strong> </mat-hint>
                                    <mat-hint align="end">{{message.value.length}} / 256</mat-hint>
                                  </mat-form-field>
                            </div>
                            <div class="col-md-6">
                                <mat-form-field class="full-width">
                                    <mat-label>Option 4 </mat-label>
                                    <input [(ngModel)]="options.option4" matInput #message maxlength="256" placeholder="Enter the option..." formControlName="option4">
                                    <mat-hint align="start"><strong>Don't disclose personal info</strong> </mat-hint>
                                    <mat-hint align="end">{{message.value.length}} / 256</mat-hint>
                                  </mat-form-field>
                            </div>
                    </div>
                    </div>
                    <div class="mt-3">
                        <i class="bi bi-bookmark-star-fill"></i><strong class="ms-2">Give the true answer from the options</strong>
                    </div>
                    <div class="row mt-3">
                        <div class="col-md-4">
                            <mat-form-field class="full-width">
                                <mat-label>Answer</mat-label>
                                <mat-select  formControlName="answer">
                                  <mat-option value="{{options.option1}}">{{options.option1}}</mat-option>
                                  <mat-option value="{{options.option2}}">{{options.option2}}</mat-option>
                                  <mat-option value="{{options.option3}}">{{options.option3}}</mat-option>
                                  <mat-option value="{{options.option4}}">{{options.option4}}</mat-option>
                                </mat-select>
                              </mat-form-field>
                        </div>
                    </div>
                    <div class="text-center d-flex justify-content-between align-items-center">
                        <button  class="btn-add" [disabled]="formGroup.invalid" ><i class="bi bi-plus-lg" style="margin-right: 12px;"></i>Save new Question</button>
                        <a class="nav-link" [routerLink]="'/admin/questions/'+quizId+'/'+quiz.title"><i class="bi bi-arrow-return-left"></i><strong class="ms-3">Back to Question List</strong></a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>