
.added {
    background: #fff;
    padding: 14px;
}

.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
.full-width {
    width: 100%;
}
  
.btn-add {
    background: #ea580c;
    padding: 11px 28px;
    border: none;
    color: #fff;
    border: 0.5px solid #333;
}

.btn-add:hover {
   
    background: #0e223e;
    color: #fff;
}

.nav-link:hover {
    color: #ea580c;
}

.ckeditor-input {
    margin-top: 16px;
    margin-bottom: 16px;
}