.btn-update {
    margin: 12px 24px;
    padding: 12px 24px;
    border: 1px solid #22c55e;
    background: #fff;
    color: #22c55e;
    font-family: 'Ubuntu';
}

.btn-update:hover {
    border: none;
    background: #0e223e;
}

.btn-cancel:hover {
    border: none;
    background: #0e223e;
}

.btn-cancel {
    margin: 12px 24px;
    padding: 12px 24px;
    border: 1px solid #f97316;
    background: #fff;
    color: #f97316;
    font-family: 'Ubuntu';
}

.btn-update:hover {
    opacity: .7;
}

.btn-cancel:hover {
    opacity: .7;
}

.update-quiz {
    border-radius: 10px;
}