<div class="contain" #container>
    <div class="forms-container">
      <div class="signin-signup">
        <form [formGroup]="formGroup" (ngSubmit)="login()" class="sign-in-form">
          <h2 class="title">Sign in</h2>
          <div class="input-field">
            <i class="fas fa-user"></i>
            <input type="text" placeholder="Username" formControlName="username" />
          </div>
          <div class="input-field">
            <i class="fas fa-lock"></i>
            <input type="password" placeholder="Password" formControlName="password" />
          </div>
          <input type="submit" value="Login" class="btn solid" />
          <p class="social-text">Or Sign in with social platforms</p>
          <div class="social-media">
            <a href="#" class="social-icon">
                <i class="bi bi-github"></i>
              </a>
              <a href="#" class="social-icon">
                <i class="bi bi-google"></i>
              </a>
          </div>
        </form>
        <form action="#" class="sign-up-form">
          <h2 class="title">Sign up</h2>
          <div class="input-field">
            <i class="fas fa-user"></i>
            <input type="text" placeholder="Username" />
          </div>
          <div class="input-field">
            <i class="fas fa-envelope"></i>
            <input type="email" placeholder="Email" />
          </div>
          <div class="input-field">
            <i class="fas fa-lock"></i>
            <input type="password" placeholder="Password" />
          </div>
          <div class="input-field">
            <i class="fas fa-lock"></i>
            <input type="password" placeholder="Confirm Password" />
          </div>
          <input type="submit" class="btn" value="Sign up" />
          <p class="social-text">Or Sign up with social platforms</p>
          <div class="social-media">
            <a href="#" class="social-icon">
              <i class="bi bi-github"></i>
            </a>
            <a href="#" class="social-icon">
              <i class="bi bi-google"></i>
            </a>
          </div>
        </form>
      </div>
    </div>

    <div class="panels-container">
      <div class="panel left-panel">
        <div class="content mt-5">
          <h3>You are new ?</h3>
          <p>
            Let create a new account to explore the entire features
            and learn more about this BRAINBLITZ
          </p>
          <button class="btn transparent" id="sign-up-btn" (click)="toggleSignUpMode()">
            Sign up
          </button>
        </div>
        <img src="../../../assets/log.svg" class="image" alt="" />
      </div>
      <div class="panel right-panel">
        <div class="content mt-5">
          <h3>Already have an accont ?</h3>
          <p>
            Connect you and see you !
          </p>
          <button class="btn transparent" id="sign-in-btn" (click)="toggleSignInMode()">
            Sign in
          </button>
        </div>
        <img src="../../../assets/register.svg" class="image" alt="" />
      </div>
    </div>
  </div>