<div class="contain mt-5">
    <div class="row">
        <div class="col-md-6 offset-md-3 content">
            <h2 class="text-center">Edit Your profile</h2>
            <form [formGroup]="formGroup" (ngSubmit)="updateUser()">
                <div class="input-box">
                    <div class="input-field text-center">
                        <i class="bi bi-person-fill"></i>
                        <input type="text" placeholder="Firstname" formControlName="firstname">
                    </div>
                    <div class="input-field">
                        <i class="bi bi-person-fill"></i>
                        <input type="text" placeholder="Lastname" formControlName="lastname">
                    </div>
                    <div class="input-field">
                        <i class="bi bi-envelope-at-fill"></i>
                        <input type="email" placeholder="Email" formControlName="email" readonly>
                    </div>
                    <div class="input-field">
                        <i class="bi bi-person-fill"></i>
                        <input type="text" placeholder="Username" formControlName="username">
                    </div>
                    <div class="input-field">
                        <i class="bi bi-pencil-square"></i>
                        <input type="text" placeholder="Description" formControlName="description">
                    </div>
                    <div class="input-field">
                        <i class="bi bi-person-circle"></i>
                        <input type="text" placeholder="Biography" formControlName="biography">
                    </div>
                </div>
                
                <mat-form-field class="full-width">
                    <mat-label>Give your competences</mat-label>
                    <mat-chip-grid #chipGrid aria-label="Enter competence"  >
       
                        <mat-chip-row (removed)="removeComptence(keyword)" *ngFor="let keyword of competences">
                          {{keyword}}
                          <button matChipRemove aria-label="'remove ' + keyword">
                            <mat-icon>cancel</mat-icon>
                          </button>
                        </mat-chip-row>
                      
                    </mat-chip-grid>
                    <input placeholder="Add competence..." 
                            [matChipInputFor]="chipGrid"
                            (matChipInputTokenEnd)="addCompetence($event)"/>
                  </mat-form-field>
                  
                <div class="update">
                    <button type="submit" class="btn-update mt-4">Update</button>
                </div>
            </form>
        </div>
    </div>
</div>