.container-1 {
    padding: 30px 5%;
    .contents {
        form {
            label {
                color: var(--text-100);
                margin-bottom: 12px;
            }
            .field {
                border: 1px solid var(--bg-200);
                padding: 8px 12px;
                border-radius: 8px;
                margin-bottom: 16px;

                i {
                    color: var(--text-200);
                    margin-right: 12px;
                }

                input {
                    background: transparent;
                    color: var(--text-200);
                    outline: none;
                    border: 0;
                    width: 90%;
                }

                ::placeholder {
                    color: var(--text-200);
                }
            }
        }
    }
}


/*.contain {
    background: transparent;
    margin-bottom: 24px;
}

form {
    padding: 14px 24px;
    display: inline;
}

.full-width {
    width: 95%;
    margin: 16px;
    
}

.content {
    background: #fff;
    border-radius: 10px;
    display: inline;
    margin-bottom: 24px;
    padding: 30px;
}

.content h2 {
    color: #89929b;
}

.btn-danger {
    margin-left: 16px;
}

.input-box {
    width: 100%;
    margin: 0 16px 0 16px;
}

.input-box .input-field {
    width: 95%;
    background: #e0e0e0;
    margin-bottom: 20px;
    padding: 16px;
    border-radius: 50px;
    transition: all 0.5s ease;
    border: 2px solid #e0e0e0;

    i {
        font-size: 18px;
        color: #ea580c;
    }

    input {
        width: 95%;
        border: 0;
        font-size: 16px;
        padding-left: 16px;
        background: transparent;
        outline: none;
    }
}

.input-box .input-field:focus-within {
    border: 2px solid #5200ae;
}

.update {
    display: flex;
    justify-content: end;
}

.btn-update {
    border: none;
    background: #ea580c;
    padding: 12px 24px;
    color: #fff;
    border-radius: 5px;
    margin-right: 28px;
}

*/