.navbar {
    background: #0e223e;
    height: 3.5rem;
}
img {
    width: 150px;
}

.btn-login {
    border-radius: 25px;
    border: none;
    padding: 6px 14px ; 
    background: #e11d48;
    color: #fff;
    font-family: 'Poppins';
}

.btn-register {
    margin-left: 12px;
    border-radius: 25px;
    border: none;
    padding: 6px 14px ; 
    background: #0369a1;
    color: #fff;
    font-family: 'Poppins';
}

.navbar-nav a, i {
    color: #fff;
    font-family: 'Ubuntu';
}