.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: transparent;
    //background-image: linear-gradient(to right, #b70f93, #ab07a7, #9515bd, #7227d4, #1238eb);
    padding: 15px 10px 20px 100px;
    z-index: 2;
    transition: 0.6s;
}

.navbar.sticky {
    padding: 5px 20px 5px 100px;
    background: #21262d;

    .nav-link {
        color: #fff;
        i {
            color: #fff; 
        }
    }
}

a {
    cursor: pointer; 
}

.logo {
    color: #f59e0b;
    font-size: 18px;
    font-weight: 600;
    font-family: 'Anta';
}
.content-left {
    color: #a3a3a3;
}

.content-left a {
    margin-right: 10px;
    border-left: 3px solid transparent;
}
.content-left .nav-link:hover {
    background: #662d91;
    border-radius: 5px;
    i {
        color: #fff;
    }
}

.content-left .nav-link {
    color: #a364ff;
    padding-right: 16px;
    padding-left: 16px;
    font-family: "Ubuntu", sans-serif;
    border-radius: 5px;
    font-size: 16px;
}

.content-left .nav-link i {
    color: #a364ff;
    font-size: 18px;
    margin-right: 10px;
}

.right-nav .nav-link {
    color: #a364ff;
    padding-right: 16px;
    padding-left: 16px;
    border-radius: 5px;
    font-family: "Ubuntu", sans-serif;
    font-size: 16px;
}

.right-nav i { 
    color: #a364ff;
    font-size: 18px;
    margin-right: 10px;
}

.right-nav .nav-link:hover {
    background: #662d91;
    border-radius: 5px;
    i {
        color: #fff;
    }
}


.problems, .solutions {
    border-right: 2px solid #525252;
}

.navbar-brand {
    margin: 12px 16px;
}

.navbar-brand img {
    width: 60px;
    height: 60px;
}
.btn-login {
    border-radius: 5px;
    border: 0;
    padding: 6px 14px ; 
    background: #EE1D52;
    color: #fff;
    font-family: 'Ubuntu';
    margin-right: 14px;
    transition: all 0.6s ease;
}

.btn-login:hover {
    background: #292929;
    color: #EE1D52;
}

.btn-register {
    margin-left: 12px;
    border-radius: 5px;
    border: 0;
    padding: 6px 14px ; 
    background: #292929;
    color: #fff;
    font-family: 'Ubuntu';
    transition: all 0.6s ease;
}

.btn-register:hover {
    background: #EE1D52;
    color: #fff;
    //border: 1px solid #292929;
}

.navbar-nav a, i {
    color: #fff;
    font-family: sans-serif;
    font-size: 14px;
}

.admin i {
    font-size: 18px;
    color: #662d91;
    margin-right: 10px;
}

.admin a:hover {
    opacity: .6;
}

.btn-profile {
    width: 40px; 
    height: 40px; 
    padding: 7px 10px; 
    border-radius: 25px; 
    font-size: 18px; 
    text-align: center; 
    margin-left: 30px; 
    cursor: pointer; 
    position: relative; 
    background: #f59e0b; 
    color: #fff; 
}

.notification { 
    position: relative; 
    padding-right: 14px; 
}

.notification i {
    font-size: 20px;
    color: #fff;
}

.notification span {
    border: 3px solid #662d91;
    width: 26px;
    height: 24px;
    position: absolute;
    background: #EE1D52;
    border-radius: 12px;
    font-size: 11px;
    padding: 0 2px;
    top: 0px;
    right: 4px;
    color: #fff;
}

.btn-secondary {
    background: #fff; 
}

/****/

.sub-menu-wrap {
    position: absolute;
    top: 100%;
    right: 0%;
    width: 320px;
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.3s ease;
}

.sub-menu-wrap.open-menu {
    max-height: 500px;
}

.sub-menu {
    background: #21262d; 
    padding: 20px;
    margin: 10px;
    border-radius: 12px;
}

.user-pic-nav {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 15px;
}

.user-pic {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 15px;
}

.user-info h3 {
    font-family: 'Ubuntu', Arial, Helvetica, sans-serif;
    font-weight: 100;
    font-size: 20px;
    color: #fff;
}

.user-info h6 {
    font-family: 'Ubuntu';
    font-weight: 100;
    font-size: 12px;
    color: #fff;
}
.user-info {
    display: flex;
    align-items: center;
}

.sub-menu hr {
    width: 100%;
    height: 2px;
    background: #fff;
    margin: 15px 0 10px;
}

.sub-menu-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #525252;
    margin: 12px 0;
}

.sub-menu-link p {
    width: 100%;
    font-family: 'Ubuntu', Arial, Helvetica, sans-serif;
    color: #cbd5e1;
}

.sub-menu-link i {
    width: 40px;
    color: #a3a3a3;
    padding: 8px;
    margin-right: 15px;
    transition: transform 0.5s;
}

.sub-menu-link:hover i {
    transform: translateX(5px);
    color: #71c4ef;
}

.sub-menu-link:hover span {
    transform: translateX(5px);

}

.sub-menu-link:hover p {
    font-weight: 600;
    color: #71c4ef;
}
.sub-menu-link span {
    font-size: 18px;
    transition: transform 0.5s;
    color: #cbd5e1;
}

.nav-item a, i {
    color: #a3a3a3;
}
.nav-item:hover a {
    color: #fff;
}

.nav-link {
    cursor: pointer;
}

.nav-link-search {
    //border: 2px solid #fff;
    color: #fff;
    //background: #00668c;
   // padding: 8px 14px 6px 4px;
}