.navbar {
    background: #f59e0b;
}
img {
    width: 150px;
}

.btn-login {
    border-radius: 25px;
    border: none;
    padding: 6px 14px ; 
    background: #000;
    color: #f59e0b;
    font-family: 'Ubuntu';
}

.btn-register {
    margin-left: 12px;
    border-radius: 25px;
    border: none;
    padding: 6px 14px ; 
    background: #fff;
    color: #f59e0b;
    font-family: 'Ubuntu';
}