<nav class="navbar navbar-expand-lg fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <!--img src="../../assets/Quiz.png" routerLink=""-->
      </a>
      
      <div class="collapse navbar-collapse" id="navbarSupportedContent ms-auto">
        <ul class="navbar-nav mb-lg-0 ms-auto">
          <li class="nav-item">
            <a class="nav-link active " aria-current="page" routerLink="/admin/categories"><i class="bi bi-bag-dash m-3"></i>Categories</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active " aria-current="page" routerLink=""><i class="bi bi-search m-3"></i>Search</a>
          </li>
          <li class="nav-item ms-3">
            <button class="btn-login" (click)="login()" *ngIf="!profile">Sign in</button>
          </li>
          <li class="nav-item">
            <button class="btn-register" (click)="register()" *ngIf="!profile">Sign up</button>
          </li>
          <li class="nav-item" *ngIf="profile">
            <button class="btn-login" (click)="logout()">Logout</button>
        </li>
        </ul>
      </div>
    </div>
  </nav>