.container {
    background: #f3f4f6;
    padding-top: 12px;
    padding-bottom: 20px;
}

.nav-link {
    cursor: pointer;
}

.nav-link:hover {
    color: #f59e0b;
    opacity: .8;
}

.nav-link-read {
    color: #f59e0b;
    margin-right: 14px;
    text-decoration: none;
    cursor: pointer;
    background: #fff;
    border: 1px solid #f59e0b;
    padding: 10px;

}

.nav-link-answer {
    color: #f59e0b;
    margin-right: 14px;
    text-decoration: none;
    cursor: pointer;
    padding: 10px;
}
.nav-link-read:hover {
    opacity: .8;
}
.question {
    width: 40px;
    height: 40px;
    border: none;
    background: #0e223e;
    color: #fff;
    border-radius: 50%;
    font-family: 'Ubuntu';
    font-weight: 600;
}

span {
    font-family: 'Ubuntu';
    font-weight: 600;
    margin-left: 14px;
    font-size: 16px;
}

.title-question {
    margin-left: 16px;
}

.btn-add {
    border: none;
    padding: 12px 20px;
    color: #fff;
    background: #22c55e;
    cursor: pointer;
    font-family: 'Ubuntu';
}

.btn-add:hover {
    background: #0e223e;
    color: #fff;
}
