.container-1 {
    main.row {
        section.col {
            font-family: 'Poppins';

            header.title {
                h2 {
                    color: var(--text-100);
                    span {
                        color: var(--primary-200)
                    }
                }
            }

            .contents {
                .table {
                    border: 1px solid var(--bg-200);

                    thead {

                        th {
                            padding: 16px 18px;
                            color: var(--primary-200);
                            font-weight: 500;
                            border-bottom: 1px solid var(--bg-200);
                        }
                    }

                    tbody {
                        tr {

                            td {
                                background: transparent;
                                color: var(--text-200);
                                border: 0;
                                font-size: 13px;
                                padding: 16px 18px;

                                .option {
                                    display: flex;
                                    line-height: 2.5;

                                    i {
                                        margin-right: 12px;
                                        color: var(--primary-200);
                                    }
                                }

                                .action {
                                    display: flex;
                                    justify-content: space-between;

                                    button {
                                        background: transparent;
                                        border: 0;
                                        padding: 0px 18px 0 0;

                                        i {
                                            color: var(--text-100);
                                            font-size: 16px;
                                        }

                                        i.bi-trash3 {
                                            color: var(--delete-100);
                                        }
                                    }
                                }
                            }

                            .text-center {
                                color: var(--text-100);
                                font-size: 14px;
                                font-weight: 550;
                            }

                            .answer {
                                color: var(--primary-200);
                            }
                        }

                        tr:nth-child(even) {
                            background: var(--bg-300);
                        }
                    }
                }
            }
        }
    }
}

/**.container {
    background: #f3f4f6;
    padding-top: 12px;
    padding-bottom: 20px;
}

.nav-link {
    cursor: pointer;
}

.nav-link:hover {
    color: #f59e0b;
    opacity: .8;
}

.nav-link-read {
    color: #f59e0b;
    margin-right: 14px;
    text-decoration: none;
    cursor: pointer;
    background: #fff;
    border: 1px solid #f59e0b;
    padding: 10px;

}

.nav-link-answer {
    color: #f59e0b;
    margin-right: 14px;
    text-decoration: none;
    cursor: pointer;
    padding: 10px;
}
.nav-link-read:hover {
    opacity: .8;
}
.question {
    width: 40px;
    height: 40px;
    border: none;
    background: #0e223e;
    color: #fff;
    border-radius: 50%;
    font-family: 'Ubuntu';
    font-weight: 600;
}

span {
    font-family: 'Ubuntu';
    font-weight: 600;
    margin-left: 14px;
    font-size: 16px;
}

.title-question {
    margin-left: 16px;
}

.btn-add {
    border: 2px solid #00668c;
    padding: 12px 20px;
    color: #00668c;
    background: #fff;
    cursor: pointer;
    font-family: 'Ubuntu';
}

.btn-add:hover {
    background: #0e223e;
    color: #fff;
    border: 2px solid #0e223e;
}

mat-card {
    background: #89929b;
}

*/