<div class="container mt-4 mb-3">
    <div class="container-1">
        <main class="row">
            <section class="col">
                <header class="title">
                    <h2>Questions of the quiz <span>{{quiz.title}}</span></h2>
                </header>

                <div class="contents">
                    <table class="table">
                        <thead>
                            <th>N°</th>
                            <th>Question</th>
                            <th>Options</th>
                            <th>Answer</th>
                            <th>Action</th>
                        </thead>
                        <tbody>
                            <tr *ngFor="let question of questions; let index= index">
                                <td>{{index+1}}</td>
                                <td>{{question.content}}</td>
                                <td>
                                    <div class="option" *ngFor="let option of question.options">
                                        <span>{{option}}</span>
                                    </div>
                                </td>
                                <td>{{question.answer}}</td>
                                <td>
                                    <button>Edit</button>
                                    <button>Delete</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </section>
        </main>
    </div>
    <!--div class="d-flex justify-content-between align-items-center">
        <div class="title-question">
            <h1 class="mt-3">Questions of <span style="font-size: 22px; font-weight: 600; color: #22c55e">{{quizTitle+' ('+quiz.questions.length+')'}}</span></h1>
        </div>
        <div>
            <button class="btn-add" [routerLink]="'/admin/add-question/'+quizId">QUESTION<i class="bi bi-plus-circle-fill" style="margin-left: 12px; font-size: 20px; font-weight: 600;"></i></button>
        </div>
    </div>
    <div class="bootstrap-wrapper">
        <div class="row">
            <div class="col-md-12">
                <ng-container *ngFor="let question of questions; let i = index">
                    <ng-container *ngIf="i % 2 === 0">
                        <div class="row">
                            <div class="col-md-6">
                                <mat-card class="mt-2">
       
                                    <div class="container-fluid mt-2"> 
                                        <button class="question">{{i+1}}</button> 
                                        <span id="questionContent" *ngIf="!isContentExpanded[i]">{{ question.content | slice:0:50 }}</span>
                                        <span id="questionContent" *ngIf="isContentExpanded[i]">{{ question.content }}</span>
                                        <button class="nav-link-read d-flex ms-auto" (click)="toggleExpand(i)" *ngIf="question.content.length> 50">
                                            {{ isContentExpanded[i] ? 'Read Less' : 'Read More' }}<i class="bi bi-arrow-right-circle-fill ms-2"></i>
                                        </button>

                                        <div class="row">
                                            <div class="col-md-12"> 
                                                <mat-selection-list #answer [multiple]="false">
                                                    <div *ngFor="let option of question.options; let j = index">
                                                        <mat-list-option [value]="option" color="accent">{{option}}</mat-list-option>
                                                    </div>
                                                </mat-selection-list>
                                                <div class="row ms-2">
                                                    <p style="font-family: 'Ubuntu'; font-size: 14px; color: #21262d">Answer: 
                                                        <span id="questionContent" *ngIf="!isContentExpanded[i+4]">{{ question.answer | slice:0:40 }}</span>
                                                        <span id="questionContent" *ngIf="isContentExpanded[i+4]">{{ question.answer }}</span>
                                                        <a class="nav-link-answer ms-3" (click)="toggleExpand(i+4)" *ngIf="question.answer?.length> 40">
                                                             {{ isContentExpanded[i+4] ? 'Read Less' : 'Read More' }}<i class="bi bi-arrow-right-circle-fill ms-2"></i>
                                                        </a>
                                                    </p>
                                                    <div class="mb-3 mt-3 d-flex justify-content-between align-items-center">
                                                        <a class="nav-link" (click)="openUpdate(question)" style="color: #1d4ed8;"><i class="bi bi-pen-fill"></i><strong class="ms-2">Edit Question</strong></a>
                                                        <a class="nav-link " (click)="deleteQuestion(question.id)" style="margin-left: 60px; color: #e11d48;"><i class="bi bi-trash-fill"></i><strong class="ms-2">Delete Question</strong></a>
                                                        <div class="m-3">
                                                            <i class="bi bi-calendar-plus-fill"></i><strong class="ms-2">{{question.createdDate?.toString().split('T')[0]}}</strong>
                                                            <i class="bi bi-arrow-repeat ms-3"></i><strong class="ms-2" style="font-weight: 600;">{{question.createdDate?.toString().split('T')[0]}}</strong>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div> 
                                        </div>
                                    </div>
                                </mat-card>
                            </div>
                            <div class="col-md-6" *ngIf="questions[i + 1]">
                                <mat-card class="mt-2">

                                    <div class="container-fluid mt-2"> 
                                        <button class="question">{{i+2}}</button> 
                                        <span id="questionContent" *ngIf="!isContentExpanded[i+1]">{{ questions[i+1].content | slice:0:48 }}</span>
                                        <span id="questionContent" *ngIf="isContentExpanded[i+1]">{{ questions[i+1].content }}</span>
                                        <button class="nav-link-read d-flex ms-auto " (click)="toggleExpand(i+1)" *ngIf="questions[i+1].content.length> 50">
                                            {{ isContentExpanded[i+1] ? 'Read Less' : 'Read More' }}<i class="bi bi-arrow-right-circle-fill ms-2"></i>
                                        </button>
                                      
                                        <div class="row">
                                            <div class="col-md-12"> 
                                                <mat-selection-list #answer [multiple]="false">
                                                    <div *ngFor="let option of questions[i+1].options; let j = index">
                                                        <mat-list-option [value]="option" color="accent">{{option}}</mat-list-option>
                                                    </div>
                                                </mat-selection-list>
                                                <div class="row ms-2 d-flex ">
                                                    <p style="font-family: 'Ubuntu'; font-size: 14px; color: #21262d">Answer: 
                                                        <span id="questionContent" *ngIf="!isContentExpanded[i+6]">{{ questions[i+1].answer | slice:0:40 }}</span>
                                                        <span id="questionContent" *ngIf="isContentExpanded[i+6]">{{ questions[i+1].answer }}</span>
                                                        <a class="nav-link-answer ms-3" (click)="toggleExpand(i+6)" *ngIf="questions[i+1].answer?.length> 40">
                                                             {{ isContentExpanded[i+6] ? 'Read Less' : 'Read More' }}<i class="bi bi-arrow-right-circle-fill ms-2"></i>
                                                        </a>
                                                    </p>
                                                    <div class="mb-3 mt-3 d-flex justify-content-between align-items-center">
                                                        <a class="nav-link" (click)="openUpdate(questions[i+1])" style="color: #1d4ed8;"><i class="bi bi-pen-fill"></i><strong class="ms-2">Edit Quiz</strong></a>
                                                        <a class="nav-link " (click)="deleteQuestion(question.id)" style="margin-left: 60px; color: #e11d48;"><i class="bi bi-trash-fill"></i><strong class="ms-2">Delete Quiz</strong></a>
                                                        <div class="m-3">
                                                            <i class="bi bi-calendar-plus-fill"></i><strong class="ms-2">{{question.createdDate?.toString().split('T')[0]}}</strong>
                                                            <i class="bi bi-arrow-repeat ms-3"></i><strong class="ms-2" style="font-weight: 600;">{{question.createdDate?.toString().split('T')[0]}}</strong>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div> 
                                        </div>
                                    </div>
                                </mat-card>
                            </div>
                        </div>
                    </ng-container>
                </ng-container>
            </div>
            <div class="text-center" style="margin-top: 68px;">
                <a class="nav-link" routerLink="/admin/quizzes"><i class="bi bi-arrow-left-circle-fill"></i><strong class="ms-3">Back to Question List</strong></a>
            </div>
        </div>
        
    </div-->
</div>