.contain {
    background: transparent;
    margin-right: 24px;
}

a {
    cursor: pointer;
    text-decoration: none;
}

.content-left {
    margin-bottom: 24px;
    background: transparent;
}

.card-user i {
    font-size: 56px;
}

/**/

.content-right {
    background: transparent;
    border-radius: 10px;
    margin-bottom: 24px;
}

.content-right h2 {
    color: #fff;
}

.content-right .card-user {
    border: 1px solid #21262d;
    padding: 16px;
    margin-top: 14px;
    border-radius: 8px;
}

.btn-type-connection {
    border: 1px solid #21262d;
    background: transparent;
    color: #89929b;
    border-radius: 20px;
    margin-left: 16px;
    padding: 0 8px;
}

.content-right .card-user .header  img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 14px;
}

.content-right .card-user .header span {
    color: #77bdfb;
}

.content-right .card-user .details span {
    color: #89929b;
}

.content-right .card-user a:hover {
    text-decoration: underline;
    color: #77bdfb;
}

