.contain {
    background: transparent;
    margin-right: 24px;
}

a {
    cursor: pointer;
    text-decoration: none;
}

.content-left {
    margin-bottom: 24px;
    background: transparent;
    
}

.card-users {
    padding-top: 16PX;
    border-radius: 12px;
    background: #21262d;
}

.card-users i {
    font-size: 35px;
    color: #77bdfb;
}

.card-users .user-details-2 {
    background: #77bdfb;
    font-weight: 600;
    color: #fff;
    padding: 18px;
}

.card-users .user-details span {
    font-size: 28px;
    color: #77bdfb;
}
/**/
.card-categories {
    padding-top: 16PX;
    border-radius: 12px;
    background: #21262d;
}

.card-categories i {
    font-size: 35px;
    color: #fa7970;
}

.card-categories .category-details-2 {
    background: #fa7970;
    font-weight: 600;
    color: #fff;
    padding: 18px;
}

.card-categories .category-details span {
    font-size: 28px;
    color: #fa7970;
}

/**/
.card-quizzes {
    padding-top: 16PX;
    border-radius: 12px;
    background: #21262d;
}

.card-quizzes i {
    font-size: 35px;
    color: #7ce38b;
}

.card-quizzes .quiz-details-2 {
    background: #7ce38b;
    font-weight: 600;
    color: #fff;
    padding: 18px;
}

.card-quizzes .quiz-details span {
    font-size: 28px;
    color: #7ce38b;
}

/**/
.card-contest {
    padding-top: 16PX;
    border-radius: 12px;
    background: #21262d;
}

.card-contest i {
    font-size: 35px;
    color: #cea5fb;
}

.card-contest .contest-details-2 {
    background: #cea5fb;
    font-weight: 600;
    color: #fff;
    padding: 18px;
}

.card-contest .contest-details span {
    font-size: 28px;
    color: #cea5fb;
}

.content-chart {
    background: transparent;
    border-radius: 10px;
    margin: 16px 2px;
    padding: 16px;
}

.card-details {
    padding: 0 30px;
}

/**/

.content-right {
    background: #21262d;
    border-radius: 10px;
    margin-bottom: 24px;
}

.content-right h2 {
    color: #fff;
    padding-bottom: 10px;
}

.content-right .card-user {
    border: 1px solid #3b3c3d;
    padding: 16px;
    margin-bottom: 14px;
    border-radius: 8px;
}

.btn-success{
    font-size: 12px;
    padding: 0 8px;
}

.content-right .card-user .header  img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 14px;
}

.content-right .card-user .header span {
    color: #77bdfb;
}

.content-right .card-user .details span {
    color: #89929b;
}

.content-right .card-user a:hover {
    text-decoration: underline;
    color: #77bdfb;
}

