.container-1 {
    .contents {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        .box {
            border: 1px solid var(--bg-200);
            background: var(--bg-300);
            margin-right: 16px;
            margin-bottom: 16px;
            border-radius: 8px;
            padding: 20px;
            width: 30%;

            i {
                color: var(--text-100);
                margin-right: 14px;
                font-size: 18px;
            }

            span {
                color: var(--text-100);
            }

            h1 {
                color: var(--special-100);
                margin-top: 18px;
            }

            .rate {
                i {
                    color: var(--primary-200);
                }

                span {
                    color: var(--primary-100);
                    margin-right: 8px;
                }

                p {
                    color: var(--text-200);
                }
            }
        }
    }

    .user-list {
        padding-right: 70px;

        .table {
            thead {
                tr {
                    border-bottom: 1px solid var(--bg-200);
                    border: 1px solid var(--bg-200);

                    th {
                        background: transparent;
                        color: var(--text-100);
                        font-weight: 500;
                        padding: 16px 0;
                    }
                }

            }

            tbody {
                border: 1px solid var(--bg-200);
                border-radius: 8px;

                tr {
                    td {
                        background: transparent;
                        color: var(--text-200);
                        border: 0;
                        padding: 14px 8px;
                        font-size: 12px;

                        .profile-image {
                            border-radius: 50%;
                            height: 30px;
                            width: 30px;
                            margin-left: 16px;
            
                            img {
                                width: 100%;
                                border-radius: inherit;
                            }
                        }

                        a {
                            color: var(--text-200);
                            text-decoration: none;
                        }

                        a:hover {
                            color: var(--special-100);
                            text-decoration: underline;
                        }
                    }
                }

                tr:nth-child(even) {
                    background: var(--bg-300);
                }
            }
        }
    }
}


/**/
.content-chart {
    background: transparent;
    border-radius: 10px;
    margin: 4px 2px;
    padding: 16px;
}

.card-details {
    padding: 0 30px;
}

.modal-content {
    background: rgba(#21262d, 1);
}

.modal-content h4,
h3 {
    color: #89929b;
}


.btn {
    font-size: 14px;
    padding: 4px 8px;
}

.footer-btn {
    margin-bottom: 32px;
}

.btn-login {
    width: 45%;
    padding: 12px 16px;
    border-radius: 8px;
    border: 0;
    background: #7ce38b;
    margin-left: 16px;
}

.btn-login:hover {
    opacity: .6;
}

.btn-register {
    width: 45%;
    padding: 12px 16px;
    border-radius: 8px;
    border: 0;
    background: #fa7970;
    margin-right: 16px;
}

.btn-register:hover {
    opacity: .6;
}


/**/

.content-right {
    background: #21262d;
    border-radius: 8px;
    margin-bottom: 24px;
}

.content-right h2 {
    color: #fff;
}

.content-right .card-user {
    border: 1px solid #3b3c3d;
    padding: 16px;
    margin-bottom: 14px;
    border-radius: 8px;
}

.btn-success {
    font-size: 12px;
    padding: 0 8px;
}

.content-right .card-user .header img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 14px;
}

.content-right .card-user .header span {
    color: #77bdfb;
}

.content-right .card-user .details span {
    color: #89929b;
}

.content-right .card-user a:hover {
    text-decoration: underline;
    color: #77bdfb;
}