.content {
    background: transparent;
    margin-left: 18px;
    margin-right: 18px;
}

a {
    cursor: pointer;
}

.content-left {
    margin-bottom: 46px;
    background: #FFFFFF;
    border-radius: 12px;
    padding: 16px;
}

.image-profile {
    position: relative;

    border-radius: 50%;
    width: 200px;
    height: 200px;
    //overflow: hidden;

    img {
        border: 3px solid #faa356;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        object-fit: cover;
    }
}

.image-profile a {
    color: #89929b;
    position: absolute;
    bottom: 17%;
    right: 0;
    background: #3b3c3d;
    padding: 6px 8px;
    border-radius: 50%;
}

.image-profile a:hover {
    background: #cccbc8;
    color: #21262d;
}


.profile {
    color: #fff;
}

.profile .username {
    margin-top: 18px;
    font-size: 24px;
    color: #21262d;
    font-family: 'Inter';
}

.profile .email {
    font-size: 14px;
    color: #757575;
}

.competence {
    margin-top: 16px;
    color: #21262d;
    font-size: 12px;
}

.edit-profile .btn-edit-profile {
    background: #21262d;
    color: #89929b;
    width: 100%;
    padding: 8px 18px;
    font-weight: 600;
    border: 1px solid #89929b;
    border-radius: 8px;
}

.edit-profile .btn-edit-profile:hover {
    opacity: .7;
}

.btn-subscribe {
    background: #77bdfb;
    color: #333;
    width: 100%;
    padding: 8px 18px;
    font-weight: 600;
    border: 0;
    border-radius: 8px;
}

.btn-subscribe:hover {
    opacity: .7;
}

.btn-unsubscribe {
    background: #faa356;
    color: #333;
    width: 100%;
    padding: 8px 18px;
    font-weight: 600;
    border: 0;
    border-radius: 8px;
}

.btn-subscribe:hover {
    opacity: .7;
}


.followers {
    color: #21262d;
}

.followers span {
    margin-left: 12px;
}

.followers strong {
    color: #000;
    margin-right: 4px;
}

.other-link {
    color: #21262d;
}

.other-link i {
    font-size: 16px;
}

.other-link span {
    margin-left: 10px;
}

.divider {
    border-bottom: 1px solid #21262d;
}

.organisation h3 {
    color: #757575;
}

.organisation img {
    width: 34px;
    height: 34px;
    margin-right: 12px;
}

.btn-competence {
    border: 0;
    background: #898989;
    color: #fff;
    border-radius: 24px;
    font-size: 13px; 
    margin-left: 8px;
    margin-top: 10px;
    padding: 0 8px;
}

/***************/

.content-right {
    background: #fff;
    margin-left: 4px;
    border-radius: 10px;
    padding: 16px;
    width: 96%;
}

.chart {
    overflow: hidden;
}

.recap {
    margin-bottom: 28px;
}

.card-finished {
    margin-bottom: 12px;
    border: 1px solid #757575;
    color: #89929b;
    border-radius: 6px;
    padding: 12px 16px;
}

.card-finished .frequency {
    color: #faa356;
    font-size: 18px;
}

.card-finished span {
    margin-left: 10px;
}

.btn-success {
    padding: 4px;
    font-size: 12px;
    color: #fff;
}

.modal-content {
    background: #21262d;
}

.btn-upload {
    width: 100%;
    border: 0;
    padding: 10px;
    background: #77bdfb;
    border-radius: 8px;
    transition: all 0.6 ease;
}

.btn-upload:hover {
    opacity: .7;
}

.header {
    padding: 16px;
    border-bottom: 1px solid #3b3c3d;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header h4 {
    color: #fff;
    font-family: 'Roboto';
}

.selected-image img{
    width: 100px;
    height: 100px;
    border-radius: 8px;
}

.btn-secondary {
    width: 100%;
    font-size: 14px;
}

