<div class="container mt-5">
    <div class="row ">
        <div class="col-md-10 offset-md-1 mt-3 content">
            <div class="row">
                <div class="col-md-3 content-left">
                    <img src="../../../../assets/kyotaka.jpg" alt="">
                    <div class="profile mt-5">
                        <p class="username">{{profile.username?.charAt(0)?.toUpperCase()+ profile.username?.slice(1)!}}</p>
                        <p class="email">{{profile.email}}</p>
                    </div>

                    <div class="competence mt-4">
                        <h4>Developer [Java Spring - Angular] Full Stack</h4>
                    </div>

                    <div class="edit-profile">
                        <button class="btn-edit-profile" (click)="openUpdate()" >Edit profile</button>
                    </div>

                    <div class="followers mt-4 d-flex justify-content-between">
                        <a class="nav-link"><i class="bi bi-people"></i><span><strong>1</strong>Followers</span></a>
                        <a class="nav-link"><i class="bi bi-person-fill-check"></i><span><strong>0</strong>Following</span></a>
                    </div>

                    <div class="other-link mt-3">
                        <a class="nav-link"><i class="bi bi-link-45deg"></i><span>qt.fuji-vanilli</span></a>
                        <a class="nav-link mt-2"><i class="bi bi-linkedin"></i><span>linkedin.com/fuji-vanilli/profile</span></a>
                    </div>
                    <div class="divider mt-4"></div>
                    <div class="organisation mt-2">
                        <h3>Organisations</h3>
                        <img src="../../../../assets/apple.png" alt="">
                        <img src="../../../../assets/dropbox.png" alt="">
                        <img src="../../../../assets/meta.png" alt="">
                    </div>
                    
                </div>
                <div class="col-md-9">
                    <apx-chart
                            [series]="chartOptions.series!"
                            [chart]="chartOptions.chart!"
                            [xaxis]="chartOptions.xaxis!"
                            [stroke]="chartOptions.stroke!"
                            [tooltip]="chartOptions.tooltip!"
                            [dataLabels]="chartOptions.dataLabels!"
                          >
                    </apx-chart>
                    
                    <div class="recap ms-3">
                        <div class="row">
                            <div class="col-md-6" *ngFor="let result of dataResult">
                                <div class="card-finished" >
                                    <div class="d-flex justify-content-between align-items-center">
                                        <div><i class="bi bi-paperclip" style="font-size: 20px;"></i><span style="color: #77bdfb;">{{result.quizTitle}}</span></div>
                                        <button class="btn btn-success" routerLink="/user/quizzes">Explore</button>
                                    </div>
                                    <div class="mt-2">
                                        <i class="bi bi-star-fill" style="color: #faa356;"></i><span>{{result.frequency}}</span>
                                         <span>max score:  <strong>{{result.maxScore+'%'}}</strong></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
 
  