mat-form-field {
    width: 500px;
}

.full-width {
    width: 100%;
}

.nav-link {
    color: #333;
    cursor: pointer;
}

.nav-link:hover {
    color: #ea580c;
}
.card {
    //min-height: 100vh;
    width: 100%;
    overflow: hidden;
    transition: all 0.35s ease-in-out;
    //background: #1e293b;
}

h2 {
    color: #0e223e;
    font-weight: 500;
    font-family: 'Poppins';
}
.btn-save {
    background: #ea580c;
    border: 1px solid #0e223e;
    padding: 8px 24px;
    color: #fff;
    font-family: 'Poppins';
    cursor: pointer;
}

.btn-save:hover {
    background: #0e223e;
    transition: all 0.25ms;
}

.dark1 {
    background: #333;
    color: #fff;
}

