mat-form-field {
    width: 500px;
}

.card {
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
    transition: all 0.35s ease-in-out;
    //background: #1e293b;
}

h2 {
    color: #e11d48;
    font-weight: 500;
    font-family: 'Poppins';
}
.btn-save {
    background: #e11d48;
    padding: 8px 24px;
    border-radius: 20px;
    color: #fff;
}
