<div class="contain p-3">
    <form  class="">
        <div class="box-search w-100">
            <i class="bi bi-search"></i>
            <input 
                #searchBox
                (keyup)="search(searchBox.value)"
                placeholder="Search Quiz here ....."
            />
        </div>
        <div class="collection">
            <a 
                *ngFor="let quiz of quiz$ | async"
                (click)="goToDetails(quiz)"
            >{{quiz.title}}</a>
        </div>
    </form>
</div>