
  .contain {
    background: #fff;
    padding: 14px 14px;
    margin-right: 14px;
    margin-bottom: 16px;
    border-radius: 10px;
  }

  .dropdown {
    margin-bottom: 16px;
  }
  
.image-quiz {
    background-size: cover;
}

.box-search {
    margin-bottom: 16px;
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    border-radius: 30px;
    background: #342a45;
    padding: 8px 20px;
    //border: 1px solid #720e9e;
}


.box-search input {
    background: transparent;
    border: 0;
    flex: 1;
    outline: none;
    color: #fff;
    font-size: 16px;
}

.box-search button {
    border: 0;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    background: transparent;
    cursor: pointer;
}

.box-search button i {
    color: #fff;
    font-size: 20px;
}

box-search:focus-within {
    border: 1px solid #720e9e;
    transition: border-color 0.5s ease;
}

.result-container {
    position: relative;
}

.list-result {
    position: absolute;
    z-index: 9999;
    top: 100%;
    width: 590px;
    background: #404040;
    padding: 10px 16px;
    border: 1px solid #a3a3a3;
    border-radius: 8px;
    max-height: 200px;
    overflow-y: auto;
}

.list-result ul> li {
    color: #a3a3a3;
    margin-bottom: 5px;
}

.list-group a:hover{
    color: #e0e0e0;
}

.btn-scroll {
    border: 0;
    background: #21262d;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 8px;
    padding: 4px;
    border-radius: 50%;
}

.btn-scroll i {
    color: #fff;
}

.btn-scroll:hover i {
    color: #C9C9C9;
}

.category-content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    position: relative;
    background: #21262d;
    margin-right: 18px;
    border-radius: 8px; 
}

.category-content:hover,
.category-content.active {
    background: #00668c;
    .category {
        background-color: transparent;
        border: 1px solid transparent;
    }
}

.category-content .title-category {
    color: #f6f6f6;
}

.category {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 14px;
    background: transparent;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid #fff;
    transition: all 0.3s ease-in-out;
}

.category i {
    font-size: 24px;
    font-weight: 500;
}

.btn-category {
    margin-right: 16px;
    margin-bottom: 16px;
    padding: 8px 12px;
    border: 1px solid transparent;
    border-radius: 8px;
    background: #241b35;
    color: #fff;
    transition: all 0.6s ease;
}

/***/


mat-card {
    background: #fff;
    //background-image: url('../../../../assets/back2.jpg');
    transition: all 0.9s ease;
    border: 1px solid #3457D5;
    border-radius: 10px;
    margin-bottom: 16px;
}


mat-card:hover {
    opacity: 1;
}

mat-card-title {
    font-family: 'Roboto';
    color: #000;
    margin-bottom: 10px;
}

mat-card-subtitle {
    font-family: 'Roboto';
    color: #757575;
}

mat-card-content {
    font-family: 'Poppins';
    color: #656565;
}

.card-details {
    background: transparent;
    transition: all 0.9s ease; 
}

h4 {
    color: #e0e0e0;
    font-family: 'Ubuntu';
}

.btn-start {
    padding: 12px 16px;
    font-family: 'Inter';
    border: none;
    border-radius: 4px;
    background: #3457D5;
    color: #fff;
    border: 0;
    margin-bottom: 16px;
    margin-left: 18px;
    transition: all 0.5s ease;
}

.btn-start:hover {
    opacity: .8;
    box-shadow: 0 0 0 1px #737373,
    0 0 10px rgba(255, 255, 255, 0.5);
}

.truncate {
    display: block;
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}

/*-----------*/

.article-quizz .quizz-details {
    width: 30.304%;
    flex: 0 0 auto;
    //padding: 2.5rem 2.5rem 2.2rem;
    float: left;
}

.quizz-details {
    height: 100%;
    background-color: var(--sv-white);
}


.article-quizz .quizz-details .info-cards, .article-quizz .quizz-details .quizz-ratings {
    width: 100%;
    max-width: 200px;
}

.quizz-details .info-cards, .quizz-details {
    width: auto;
    display: inline-block;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    position: relative;
    left: 50%;
}
.quizz-details .info-cards {
    margin-bottom: 1.5625rem;
}

.quizz-details .info-card {
    width: auto;
    min-width: 90px;
    display: inline-block;
    border-radius: 5px;
    background-color: #1d1160; 
    text-align: center; 
    border: 1px solid #1d1160;
}

.quizz-details .info-card .info-type {
    padding: 0.625rem;
    color: #fff;
}
.quizz-details .info-card .info-type {
    padding-bottom: 0.5rem;
}

.quizz-details .info-card .info-type i {
    display: block;
    font-size: 1.875rem;
    color: #fff;
}

.quizz-details .info-card .info-type span {
    font-weight: 600;
    font-size: .6875rem;

}

.quizz-details .info-card .info-value {
    background: #fff;
    font-family: 'Poppins';
    font-size: 14px;
}

.quizz-details .info-card .info-value {
    line-height: 2.25rem;
    border: 1px solid #1d1160;
}

.quizz-details .info-card .info-value span {
    font-size: 1rem;
    font-weight: 500;
    margin: 0;
    line-height: 2.25rem;
    color: #1d1160;
}

h4, .h4 {
    font-size: 1.5rem;
    font-weight: 500;
}

span {
    border: none;
    border-radius: 24px;
    padding: 0px 14px;
    
}

.article-quizz .quizz-details .info-cards, .article-quizz .quizz-details .quizz-ratings {
    width: 100%;
    max-width: 200px;
}

.article-quizz .quizz-details .quizz-ratings>div:first-of-type {
    width: 50%;
    padding-left: 3px;
    padding-right: 0 !important;
    float: left;
}
.quizz-details .quizz-ratings>div {
    float: left;
}

.article-quizz .quizz-details .quizz-ratings span {
    font-size: 13px;
    margin-bottom: 0.5rem;
    color: var(--sv-black);
    display: block;
}

.quizz-rating__stars {
    padding-top: 5px;
    display: flex;
    justify-content: space-between;
}

.quizz-rating__stars.star_3 i:nth-child(-n+3) {
    color: #3457D5;
}
.quizz-rating__stars i {
    color: #3457D5;
}

.bi {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
/***/

.rowposter::-webkit-scrollbar {
    display: none;
    background: #fff;
    border-radius: 12px;
    margin-bottom: 12px;
}

.rowposter::-webkit-scrollbar-thumb {
    display: none;
    background: #fff;
    border-radius: 20px;
    border: 6px solid #27272a;
    
}
.rowposter {
    margin-bottom: 16px;
    
}