<div class="contain mt-4">
    <div class="row">
        <div class="col-md-12">
            <div class="row mt-3 mb-3">
                <div class="col-md-8 offset-md-2">
                    <span class="box-search">
                        <input type="text" [(ngModel)]="searchterm" (ngModelChange)="filterBySearchTerm()" placeholder="Search Quiz here ...">
                        <button><i class="bi bi-search"></i></button>
                    </span>
                </div>

            </div>
            
            <div class="row" style="background: #e0e0e0; margin-bottom: 18px;">
                <div class="col-md-12">
                    <div class="container-category">
                        <div class="mt-2 rowposter" style="overflow-x: auto; white-space: nowrap;" #scrollContainer> 
                            <div class="d-flex justify-content-start lign-items-center">
                                <div class="category-content" *ngFor="let category of categories; let i= index" (click)="filterQuizByCategory(category.id)" [ngClass]="{'active': category.id=== selectedCategory}">
                                    <div class="category" >
                                        <i [ngClass]="category.icon" [ngStyle]="{'color': colors[i%colors.length]}"></i>
                                    </div>
                                    <div>
                                        <span class="title-category">{{category.title+' ('+category.quizsId.length+')'}}</span>
                                    </div>
                                </div>  
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 mt-2">
                    <div class="dropdown">
                        <button class="btn-category" [ngClass]="{'active': selectedCategory==='all'}" (click)="filterQuizByCategory('all')"><span>All Quizzes ({{quizzes.length}})</span></button>
                        <button class="btn btn-success dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Sorted by
                        </button>
                        <ul class="dropdown-menu dropdown-menu-dark">
                            <li><a class="dropdown-item" routerLinkActive="active" (click)="sortedByName()">Name</a></li>
                            <li><a class="dropdown-item" routerLinkActive="active" (click)="sortedByLevel()" >Level</a></li>
                          </ul>
                      </div>
                </div>
                <div class="col-md-6">
                    <div class="d-flex justify-content-start align-items-center">
                        <button class="btn-scroll" (click)="scrollLeft()" ><i class="bi bi-caret-left-fill"></i></button>
                        <button class="btn-scroll" (click)="scrollRight()"><i class="bi bi-caret-right-fill"></i></button>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="mt-3 d-flex justify-content-center align-items-center" *ngIf="filterQuizzesBySearchTerm.length=== 0">
                    <h1 style="color: #89929b;">No Quizzes Find.....</h1>
                </div>
                <div class="col-md-4 content-quiz" *ngFor="let quiz of filterQuizzes | searchPipe: searchterm">
                    <mat-card class="mt-2">
                        <mat-card-header>
                            <div mat-card-avatar class="image-quiz" [style.backgroundImage]="'url('+quiz.imageUrl+')'"></div>
                            <mat-card-title>{{quiz.title}}</mat-card-title>
                            <mat-card-subtitle>{{quiz.category?.title}}</mat-card-subtitle>
                        </mat-card-header>
                        <mat-card-content>
                            <span class="truncate">{{quiz.description}}</span>
                        </mat-card-content>
                        <mat-card-content class="main">
                            <div class="row">
                                <div class="col-md-12 card-details">
                                    <div class="quizz-details mt-3 text-start">
                                        <div class="info-cards text-start">
                                            <div class="info-card">
                                                <div class="info-type"> 
                                                    <i class="bi bi-question-lg"></i>
                                                    <span>QUESTIONS</span></div>
                                                <div class="info-value">
                                                    <span>{{quiz.numberOfQuestions}}</span>
                                                </div>
                                            </div>
                                            <div class="info-card ms-4">
                                                <div class="info-type"> 
                                                    <i class="bi bi-alarm"></i>
                                                    <span>MINUTES</span>
                                                </div>
                                                <div class="info-value">
                                                    <span> {{quiz.duration}}</span>
                                                </div>
                                            </div>
                                            <div class="info-card ms-4">
                                                <div class="info-type"> 
                                                    <i class="bi bi-bookmark-star"></i>
                                                    <span>MARKS</span>
                                                </div>
                                                <div class="info-value">
                                                    <span>{{quiz.marks}}</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-5 quizz-ratings mb-3">
                                                <div class="quizz-ratingy"> 
                                                    <div class="quizz-rating__stars star_3"> 
                                                        <i class="bi bi-star-fill" data-rating="1"></i>
                                                        <i class="bi bi-star-fill ms-1" data-rating="2"></i>
                                                        <i class="bi bi-star-fill ms-1" data-rating="3"></i>
                                                        <i class="bi bi-star ms-1" data-rating="4"></i>
                                                        <i class="bi bi-star ms-1" data-rating="5"></i>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-5 d-flex justify-content-center align-items-center"> 
                                                <img src="../../../../assets/level.png" alt=""><span style="margin-left: 2px;">{{quiz.difficulty}}</span>
                                            </div>
                                        </div>
                                        </div>
                                </div>
                            </div>
                        </mat-card-content>
    
                        <mat-card-actions>
                            <div class="mb-2 ms-4">
                                <!--button class="button-view">View <i class="bi bi-eye-fill ms-2" style="color: #f59e0b;"></i></button-->
                                <button class="btn-start " [routerLink]="'/user/instructions/'+quiz.id">Start this Quiz<i class="bi bi-play-circle ms-2" style="color: #fff;"></i></button>
                            </div>
                        </mat-card-actions>
                    </mat-card>
                </div>
            </div>
        </div>
    </div>
</div>