
  .contain {
    background: transparent;
    padding: 14px 14px;
    margin-right: 14px;
    margin-bottom: 16px;
    border-radius: 10px;
  }

.content-top {
    background: var(--bg-100);
    display: flex;
    align-items: center;
    padding: 16px 0;
    border-radius: 10px;
    margin-left: 1px;
    margin-right: 1px;

    
    .btn-category {
        margin-right: 16px;
        margin-bottom: 16px;
        font-size: 14px;
        padding: 10px;
        border: 1px solid transparent;
        border-radius: 5px;
        background:var(--primary-100);
        color: var(--text-100);
        transition: all 0.6s ease;
    }

    .btn-sorted {
        background: var(--bg-300);
        color: var(--text-100);
        font-size: 14px;
        padding: 10px;
    }

    .box-search {
        width: 100%;
        height: 50px;
        display: flex;
        align-items: center;
        background: transparent;
        padding: 8px 0 8px 0;
        border: 1px solid var(--bg-300);
        border-radius: 5px;
        transition: all 0.5s ease;

        input {
            background: transparent;
            border: 0;
            flex: 1;
            margin-left: 16px;
            outline: none;
            font-size: 16px;
            color: var(--primary-200);
        }

        ::placeholder {
            color: var(--primary-200);
            font-size: 14px;
        }

        button {
            border: 0;
            border-radius: 0 5px 5px 0;
            padding: 14px;
            background: transparent;
            cursor: pointer;

            i {
                color: var(--primary-200);
                font-size: 20px;
            }
        }

    }

    .box-search:hover {
        border: 1px solid var(--primary-100);
    }

    .box-search:focus-within {
        border: 1px solid var(--primary-100);
    }
}
  
#select {
    position: relative;
    background: var(--primary-100);
    color: var(--text-100);
    height: 50px;
    display: flex;
    padding: 8px 12px;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    border-radius: 5px 0 0 5px;
    z-index: 99;

    i {
        padding: 8px;
        margin-left: 14px;
    }
}

#select ul {
    position: absolute;
    top: 110%;
    left: 0;
    list-style: none;
    background: var(--primary-200);
    color: var(--text-200);
    width: 200%;
    padding: 12px;
    border-radius: 5px;
    visibility: hidden;
    max-height: 0;
    overflow-y: scroll;
    transition: all 0.5s ease;

    li {
        padding: 10px 20px;
        transition: all .5s ease;
    }
}

#select ul li:hover {
    background: var(--bg-300);
    border-radius: 8px;
    
    span {
        color: var(--text-100);
    }

    .title-category {
        color: var(--text-100);
    }
}

#select ul.open {
    max-height: 300px;
    visibility: visible;
}

#select .cat {
    display: flex;
    align-items: center;
    padding-left: 0;
}

.truncate {
    display: block;
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}

/*****/

.content-quiz {
    background: transparent;
}

.card {
    background: var(--bg-300);
    margin-bottom: 20px;
    cursor: pointer;
    border: 0;
    border-radius: 5px;
    transition: all 0.5s ease;

    img {
        width: 100%;
        height: 170px;
    }
    
    .card-image {
        border-radius: 5px 5px 0 0;
        overflow: hidden;
    }

    
    .card-quiz {
        position: relative;
        padding: 14px;
    }

    .card-quiz img {
        width: 32px;
        height: 32px;
        margin-right: 14px;
    }

    .card-quiz {
        .title {
            color: var(--text-100);
            font-family: 'Ubuntu';
            font-size: 18px;
            font-weight: 600;
        }

        .description {
            font-size: 14px;
            font-family: 'Ubuntu';
            color: var(--text-200);
        }
    }


    .info {
        margin: 16px 0 16px 0;
    }

    .info .question, .duration {
        color: var(--text-100);
        margin-bottom: 12px;
        span {
            font-weight: 600;
        }
        i {
            color: var(--primary-200);
            margin-right: 4px;
            font-size: 16px;
            font-weight: 700;
        }
    }

    .info .score, .level {
        color: var(--text-200);
        i {
            margin-right: 2px;
            color: var(--text-200);
        }

        span {
            margin-left: 4px;
            color: var(--primary-200);
        }
    }

    .info .score .checked {
        color: #f59e0b;
    }

}

.card:hover {
    transform: scale(105%);
    z-index: 1;

    .start {
        transform: translate(-50%, -50%);
        opacity: 1;
    }
}

.card::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0, 176, 155, 0.2), rgba(150, 201, 61, 0.8));
    transition: all 0.5s ease;
    opacity: 0;
}

.card:hover::before {
    opacity: 1;
}

.start {
    position: absolute;
    top: 20%;
    left: 25%;
    opacity: 0;
    transform: translate(-50%, 100%);
    transition: opacity 0.5s, transform 0.5s;
}

.btn-start {
    padding: 10px 16px;
    border: 0;
    background: var(--primary-100);
    color: var(--text-100);
    font-weight: 600; 

    i {
        font-size: 18px;
    }
}
