<div class="bootstrap-wrapper mt-4">
    <div class="container-fluid pb-3">
        <div class="row">
            <div class="title">
                <i class="bi bi-arrows-move mr-2"></i><span>Available Quizzes</span>
                <button>{{quizzes.length}}</button>
            </div>
          
            <div class="row col-md-6 offset-md-3">
                <span action="" class="box-search">
                    <input type="text" [(ngModel)]="searchterm" (ngModelChange)="filterBySearchTerm()" placeholder="Search Quiz...">
                    <button><i class="bi bi-search"></i></button>
                </span>
                <div class="result-container" *ngIf="searchterm!== '' && showList"> 
                    <div class="list-result">
                        <ul class="list-group list-group-flush" *ngIf="filterQuizzesBySearchTerm.length!== quizzes.length">
                            <li class="list-group" *ngFor="let filter of filterQuizzesBySearchTerm">
                                <a href="" class="nav-link">{{filter.title}}</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            
            <div class="mt-2">
                <button class="btn-category" [ngClass]="{'active': selectedCategory==='all'}" (click)="filterQuizByCaegory('all')"><i class="bi bi-archive" style="color: #FFD700;"></i><span>All Quizzes ({{quizzes.length}})</span></button>
                <button 
                    class="btn-category" 
                    *ngFor="let category of categories; let i= index" 
                    (click)="filterQuizByCaegory(category.id)"
                    [ngClass]="{'active': category.id=== selectedCategory}"
                    >
                    <i [ngClass]="category.icon" [ngStyle]="{'color': colors[i%colors.length]}"></i>
                    <span>{{category.title+' ('+category.quizsId.length+')'}}</span>
                </button>
            </div>
            <div class="col-md-4" *ngFor="let quiz of filterQuizzes">
                <mat-card class="mt-2">
                    <mat-card-header>
                        <div mat-card-avatar class="image-quiz" [style.backgroundImage]="'url('+quiz.imageUrl+')'"></div>
                        <mat-card-title>{{quiz.title}}</mat-card-title>
                        <mat-card-subtitle>{{quiz.category?.title}}</mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content>
                        <span class="truncate">{{quiz.description}}</span>
                    </mat-card-content>
                 
                    <mat-card-content class="main">
                        <div class="row">
                            <div class="col-md-12 card-details">
                                <div class="quizz-details mt-3 text-start">
                                    <div class="info-cards text-start">
                                        <div class="info-card">
                                            <div class="info-type"> 
                                                <i class="bi bi-question-lg"></i>
                                                <span>QUESTIONS</span></div>
                                            <div class="info-value">
                                                <span>{{quiz.numberOfQuestions}}</span>
                                            </div>
                                        </div>
                                        <div class="info-card ms-4">
                                            <div class="info-type"> 
                                                <i class="bi bi-alarm"></i>
                                                <span>MINUTES</span>
                                            </div>
                                            <div class="info-value">
                                                <span> {{quiz.duration}}</span>
                                            </div>
                                        </div>
                                        <div class="info-card ms-4">
                                            <div class="info-type"> 
                                                <i class="bi bi-bookmark-star"></i>
                                                <span>MARKS</span>
                                            </div>
                                            <div class="info-value">
                                                <span>{{quiz.marks}}</span>
                                            </div>
                                        </div>
                                    </div>
                                        <div class="quizz-ratings mb-3">
                                            <div class="quizz-rating"> 
                                                <strong>Classement</strong>
                                                <div class="quizz-rating__stars star_3"> 
                                                    <i class="bi bi-star-fill" data-rating="1"></i>
                                                    <i class="bi bi-star-fill" data-rating="2"></i>
                                                    <i class="bi bi-star-fill" data-rating="3"></i>
                                                    <i class="bi bi-star" data-rating="4"></i>
                                                    <i class="bi bi-star" data-rating="5"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                            </div>
                        </div>
                    </mat-card-content>

                    <mat-card-actions>
                        <div class="mb-2 ms-4">
                            <button class="button-view">View <i class="bi bi-eye-fill ms-2" style="color: #f59e0b;"></i></button>
                            <button class="button-start ms-2" [routerLink]="'/user/instructions/'+quiz.id">Start<i class="bi bi-play-circle ms-2" style="color: #0ea5e9;"></i></button>
                        </div>
                    </mat-card-actions>
                </mat-card>
            </div>
        </div>
    </div>
</div>