<div class="contain">
    <div class="row">
        <div class="col-md-12">
            <div class="row mb-3 content-top">
                <div class="col-md-6">
                    <div class="dropdown">
                        <button class="btn-category" [ngClass]="{'active': selectedCategory==='all'}" (click)="filterQuizByCategory('all')"><span>All Quizzes ({{quizzes.length}})</span></button>
                        <button class="btn btn-sorted dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          Sorted by
                        </button>
                        <ul class="dropdown-menu dropdown-menu-dark">
                            <li><a class="dropdown-item" routerLinkActive="active" (click)="sortedByName()">Name</a></li>
                            <li><a class="dropdown-item" routerLinkActive="active" (click)="sortedByLevel()">Level</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6 d-flex justify-content-end" >
                    <div class="box-search">
                        <div id="select" (click)="toggleList()">
                            <p>{{selectedText}}</p>
                            <i class="bi bi-caret-down"></i>
                            <ul [class.open]="isOpen" id="list" class="rowposter">
                                <li (click)="filterQuizByCategory('all')"><span>All categories</span></li>
                                <li *ngFor="let category of categories; let i= index" (click)="filterQuizByCategory(category.id)">
                                    <div class="cat">
                                            <div class="category d-flex justify-content-center align-items-center" [ngStyle]="{'background': colors[i%5]}" >
                                                <i [ngClass]="category.icon" ></i>
                                            </div>
                                            <span class="title-category">{{category.title+' ('+category.quizsId.length+')'}}</span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <input type="text" [(ngModel)]="searchterm" (ngModelChange)="filterBySearchTerm()" placeholder="Search Quiz here ...">
                        <button><i class="bi bi-search"></i></button>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <div class="container-1">
                        <section class="col">
                            <div class="contents">
                                <div class="box" *ngFor="let category of categories">
                                    <header class="title">
                                        <h4>{{category.title}}</h4>
                                    </header>
                                    <div class="content">
                                        <div class="icon">
                                            <i [ngClass]="category.icon"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </div>
                </div>
                <div class="col-md-8">

                </div>
            </div>
            
            <!--div class="row">
                <div class="mt-3 d-flex justify-content-center align-items-center" *ngIf="filterQuizzesBySearchTerm.length=== 0">
                    <h1 style="color: #89929b;">No Quizzes Find.....</h1>
                </div>

                <div class="col-md-3 content-quiz" *ngFor="let quiz of filterQuizzes | searchPipe: searchterm">
                    <div class="card" [routerLink]="'/user/instructions/'+quiz.id">
                        <div class="card-image">
                            <img [src]="quiz.photo" alt="">
                        </div> 
                        <div class="card-quiz">
                            <img [src]="quiz.imageUrl" alt="">
                            <span class="title">{{quiz.title}}</span>
                            <span class="description truncate">{{quiz.description}}</span>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="info">
                                        <div class="question">
                                            <i class="bi bi-question-square-fill"></i>
                                            <span>{{quiz.numberOfQuestions+' Questions'}}</span> 
                                       </div>
                                       <div class="score">
                                        <i class="bi bi-star-fill checked"></i>
                                        <i class="bi bi-star-fill checked"></i>
                                        <i class="bi bi-star-fill checked"></i>
                                        <i class="bi bi-star-fill checked"></i>
                                        <i class="bi bi-star-fill"></i>
                                        </div>
                                       
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="info">
                                        <div class="duration">
                                            <i class="bi bi-stopwatch-fill"></i>
                                            <span>{{quiz.duration+' Minutes'}}</span>
                                        </div>
                                       <div class="level">
                                            <i class="bi bi-bar-chart-fill"></i>
                                            <span>{{quiz.difficulty}}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="start">
                            <button class="btn-start">START THIS QUIZ<i class="bi bi-play-circle ms-2"></i></button>
                        </div>
                    </div>
                </div>
            </div-->
        </div>
    </div>
</div>