<div class="contain">
    <div class="row">
        <div class="col-md-9 content-left">
            <div class="row head mt-3 d-flex justify-content-between align-items-center">
                <div class="col-md-6 ms-3 search">
                    <span class="box-search">
                        <input type="text" [(ngModel)]="searchTerm" (ngModelChange)="filterBySearchTerm()" placeholder="Search Category here ...">
                        <button><i class="bi bi-search"></i></button>
                    </span>
                </div>
                <div class="col-md-5">
                    <div class="all-category">
                        <span>Available Categories {{'('+totalElements+')'}}</span>
                    </div>
                </div>
            </div>
            <div class="mt-3" *ngIf="filterCategoryBySearchTerm.length=== 0">
                <h1 style="color: #89929b;">No Quizzes Find.....</h1> 
            </div>
            <mat-card class="category-card" *ngFor="let category of filterCategoryBySearchTerm; let index= index">
                <div class="row">
                    <div class="col-md-12">
                        <mat-card-header>
                            <div mat-card-avatar class="image" [ngStyle]="{'background': colors[index%5]}"><i [ngClass]="category.icon"></i></div>
                            <mat-card-title>{{category.title}}</mat-card-title>
                            <mat-card-subtitle>{{category.description}}</mat-card-subtitle>
                        </mat-card-header>

                        <div class="d-flex justify-content-between align-items-center">
                            <mat-card-actions class="ms-2">
                                <div>
                                    <button class="btn-quiz" [routerLink]="'/user/quizzes/'+category.id">VIEW QUIZZES
                                        <i class="bi bi-play-circle ms-2" style="font-size: 16px;"></i>
                                    </button>
                                </div>
                            </mat-card-actions>
                        </div>
                    </div>
                </div>
                <div class="tag">
                    <i class="bi bi-lightning-fill"></i>
                </div>
            </mat-card>
        </div>
        <div class="col-md-3 mt-3 right-content">
            <main class="row">
                <div class="container-1">
                    <section class="col" *ngFor="let category of categories.slice(0, 5)">
                        <header class="title">
                            <h4>{{category.title}}</h4>
                        </header>
        
                        <div class="contents">
                            <div class="box" *ngFor="let quizByCategory of quizByCategory(category.id)" [routerLink]="'/user/instructions/'+quizByCategory.id">
                                <div class="icon-category">
                                    <i [ngClass]="category.icon"></i>
                                </div>
                                <span>{{quizByCategory.title}}</span>
                            </div>
                        </div>
                    </section>
                </div>
            </main>
            <!--mat-card class="mt-2">
                <mat-card-header class="text-center">
                    <mat-card-title>Popular Quizzes</mat-card-title>
                </mat-card-header>
                <mat-card-content>
                    <div *ngFor="let quiz of quizzes.slice(12)">
                        <button class="btn-category" [routerLink]="'/user/instructions/'+quiz.id">
                            <i class="bi bi-chat-dots-fill" ></i> {{quiz.title}}
                        </button>
                    </div>
                    <div class="mt-3 all-quizzes text-center">
                        <button class="btn-view-all" routerLink="/user/quizzes">
                            <span>View all Quizzes <i class="bi bi-arrow-right ms-2"></i></span>
                        </button>
                    </div>
                </mat-card-content>
            </mat-card-->

        </div>
    </div>
</div>