<div class="contain">
    <div class="row">
        <div class="col-md-9 content-left">
            <div class="row head mt-3 d-flex justify-content-between align-items-center">
                <div class="col-md-12 search">
                    <span class="box-search">
                        <input type="text" [(ngModel)]="searchTerm" (ngModelChange)="filterBySearchTerm()" placeholder="Search Category here ...">
                        <button>
                            <i class="bi bi-search"></i>
                            <i class="bi bi-x-lg" *ngIf="activeCancel()" (click)="clearSearchTerm()"></i>
                        </button>
                    </span>
                </div>
            </div>
            <div class="mt-3 no-result" *ngIf="filterCategoryBySearchTerm.length=== 0">
                <div class="image">
                    <img src="../../../../assets/undraw_notify_re_65on.svg" alt=""><br>
                </div>
                <div class="d-flex justify-content-center align-items-center">
                    <h4>No Category found....</h4>
                </div>
            </div>

            <div class="container-0">
                <section class="col">
                    <div class="contents">
                        <div class="box" *ngFor="let category of filterCategoryBySearchTerm">
                            <header class="title">
                                <i class="bi bi-check-circle-fill"></i>
                                <span>Created by</span><a [routerLink]="'/user/profile/'+category.createdBy">{{'#'+category.createdBy}}</a>
                            </header>
                            <div class="content">
                                <div class="image" [routerLink]="'/user/quizzes/'+category.id">
                                    <img [src]="category.image">
                                </div>
                                <div class="details">
                                    <div class="title">
                                        <h4>{{category.title}}</h4>
                                    </div>
                                    <p>{{category.description}}</p>
                                    <div class="start">
                                        <button class="btn-quiz" [routerLink]="'/user/quizzes/'+category.id">VIEW QUIZZES
                                            <i class="bi bi-play-circle ms-2" style="font-size: 16px;"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="icon">
                                <i [ngClass]="category.icon"></i>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
        <div class="col-md-3 mt-3 right-content">
            <main class="row">
                <div class="container-1">
                    <section class="col" *ngFor="let category of categories.slice(0, 5)">
                        <header class="title">
                            <i [ngClass]="category.icon"></i>
                            <h4>{{category.title}}</h4>
                        </header>
        
                        <div class="contents">
                            <div class="box" *ngFor="let quizByCategory of quizByCategory(category.id)" [routerLink]="'/user/instructions/'+quizByCategory.id">
                                <div class="category">
                                    <i class="bi bi-circle-fill"></i>
                                    <span>{{quizByCategory.title}}</span>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </main>
        </div>
    </div>
</div>