::after,
::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.btn-sidebar mat-icon{
    color: #ea580c;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.wrapper {
    display: flex;
}
#sidebar {
    position: fixed;
    //width: 70px;
    width: 250px;
    min-width: 70px;
    height: 94vh;
    //font-family: 'Poppins';
    z-index: 1000;
    transition: all .25s ease-in-out;
    display: flex;
    flex-direction: column;
    background: #161B22;
   // border-right: 1px solid #404040;
}

#sidebar.expand {
    width: 250px;
    min-width: 230px;
}

#toggle-btn {
    background: transparent;
    cursor: pointer;
    border: none;
    padding: 1rem 1.5rem;
}

#toggle-btn i {
    font-size: 1.5rem;
    color: #ffffff;
}

.sidebar-logo {
    margin: auto 0;
}

.sidebar-logo a {
    font-size: 1.15rem;
    font-weight: 500;
    color: #fff;

}

#sidebar:not(.expand) .sidebar-logo,
#sidebar:not(.expand) a.sidebar-link span{
   // display: none;
}

.sidebar-nav {
    padding: 3rem 0;
    flex: 1 1 auto;
}

a.sidebar-link {
    padding: .625rem 1.625rem;
    color: #e0e0e0;
    display: block;
    font-size: 0.9rem;
    white-space: nowrap;
    border-left: 3px solid transparent;
    cursor: pointer;
}

.sidebar-link i{
    font-size: 1rem;
    margin-right: .75rem;
}

a.sidebar-link:hover {
    background: #3D5A80;
    border-left: 3px solid #3b7ddd;
    color: #cee8ff;
}

.sidebar-link.active {
    background: #1f2b3e;
    border-left: 3px solid #3b7ddd;
    color: #f59e0b;
}

.sidebar-footer {
    margin-bottom: 10px;
}

.copyright {
    margin-left: 12px;
    margin-bottom: 30px;
}