<div class="wrapper ms-0">
    <aside id="sidebar">
        <div class="d-flex mt-4">
            <button id="toggle-btn">
                <i class="bi bi-grid"></i>
            </button>
            <div class="sidebar-logo">
                <a routerLink="/admin">QuizTech (Fuji)</a>
            </div>
        </div>
        <ul class="sidebar-nav">
            <li class="sidebar-item">
                <a routerLink="/user" class="sidebar-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                    <i class="bi bi-house-check"></i>
                    <span class="ms-2">Home</span>
                </a>
            </li>
            <li class="sidebar-item">
                <a routerLink="/user/profile" class="sidebar-link" routerLinkActive="active" >
                    <i class="bi bi-person"></i>
                    <span class="ms-2">My Account</span>
                </a>
            </li>
            <li class="sidebar-item">
                <a class="sidebar-link" routerLink="/user/quizzes" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                    <i class="bi bi-database"></i>
                    <span class="ms-2">Quizzes</span>
                </a>
            </li>
            <!--li class="sidebar-item" *ngFor="let category of categories">
                <a (click)="toQuizByCategory(category.id)" class="sidebar-link" routerLinkActive="active">
                    <i class="bi bi-arrow-bar-right"></i>
                    <span class="ms-2">{{category.title}}</span>
                </a>
            </li-->
        </ul>
        <div class="sidebar-footer">
            <a  class="sidebar-link">
                <i class="bi bi-box-arrow-in-right"></i>
                <span>Logout</span>
            </a>
        </div>
        <div class="copyright">
            <span style="color: #cccbc8; font-size: 10px; margin-left: 20px;">© Created by Fuji Vanilli</span>
        </div>
    </aside>
</div>
