<div class="wrapper">
    <aside id="sidebar">
        <div class="d-flex mt-3">
            <button id="toggle-btn">
                <i class="bi bi-grid"></i>
            </button>
            <div class="sidebar-logo">
                <a routerLink="/admin">QuizTech</a>
            </div>
        </div>
        <ul class="sidebar-nav">
            <li class="sidebar-item">
                <a routerLink="/user/profile" class="sidebar-link" routerLinkActive="active">
                    <i class="bi bi-person"></i>
                    <span class="ms-2">Profile</span>
                </a>
            </li>
            <li class="sidebar-item">
                <a routerLink="/admin/categories" class="sidebar-link" routerLinkActive="active">
                    <i class="bi bi-bag"></i>
                    <span class="ms-2">Category</span>
                </a>
            </li>
            <li class="sidebar-item">
                <a class="sidebar-link" routerLink="/admin/quizzes" routerLinkActive="active">
                    <i class="bi bi-database"></i>
                    <span class="ms-2">Quiz</span>
                </a>
            </li>
            <li class="sidebar-item" *ngFor="let category of categories">
                <a href="" class="sidebar-link" routerLinkActive="active">
                    <i class="bi bi-gear"></i>
                    <span class="ms-2">{{category.title}}</span>
                </a>
            </li>
        </ul>
        <div class="sidebar-footer">
            <a  class="sidebar-link">
                <i class="bi bi-box-arrow-in-right"></i>
                <span>Logout</span>
            </a>
        </div>
    </aside>
</div>
