<div class="wrapper ms-0">
    <aside id="sidebar">
        <div class="d-flex mt-4">
            <button id="toggle-btn">
                <i class="bi bi-grid"></i>
            </button>
            <div class="sidebar-logo">
                <a routerLink="/user">QuizTech - Fuji</a>
            </div>
        </div>
        <ul class="sidebar-nav">
            <li class="sidebar-item">
                <a routerLink="/user" class="sidebar-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                    <i class="bi bi-speedometer2"></i>
                    <span class="ms-2">Dashboard</span>
                </a>
            </li>
            <li class="sidebar-item">
                <a routerLink="/user/profile" class="sidebar-link" routerLinkActive="active" >
                    <i class="bi bi-person"></i>
                    <span class="ms-2">My Account</span>
                </a>
            </li>
            <li class="sidebar-item">
                <a class="sidebar-link" routerLink="/user/categories" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                    <i class="bi bi-archive"></i>
                    <span class="ms-2">Categories</span>
                </a>
            </li>
            <li class="sidebar-item">
                <a class="sidebar-link" routerLink="/user/quizzes" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                    <i class="bi bi-chat-left-dots"></i>
                    <span class="ms-2">Quizzes</span>
                </a>
            </li>
            <li class="sidebar-item">
                <a class="sidebar-link" routerLink="/user/history" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                    <i class="bi bi-clock-history"></i>
                    <span class="ms-2">History</span>
                </a>
            </li>
            <li class="sidebar-item">
                <a class="sidebar-link" routerLink="/user/contest" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                    <i class="bi bi-trophy"></i>
                    <span class="ms-2">Contest</span>
                </a>
            </li>
            <li class="sidebar-item">
                <a class="sidebar-link" routerLink="/user/quizzes/y" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                    <i class="bi bi-lightning-charge"></i>
                    <span class="ms-2">Challenge</span>
                </a>
            </li>
           
        </ul>
        <div class="sidebar-footer">
            <a class="sidebar-link">
                <i class="bi bi-info-circle"></i>
                <span>Help</span>
            </a>
            <a  class="sidebar-link" (click)="logout()">
                <i class="bi bi-box-arrow-in-right"></i>
                <span>Logout</span>
            </a>
        </div>
        <div class="copyright">
            <span style="color: #cccbc8; font-size: 10px; margin-left: 20px;">© Created by Fuji Vanilli</span>
        </div>
    </aside>
</div>
