<div class="container mt-3">
    <div class="d-flex justify-content-between align-items-center ">
        <div class="title-question">
            <h1 class="mt-3">All Categories </h1>
        </div>
        <div>
            <button class="btn-add" routerLink="/admin/add-category">
                <i class="bi bi-plus-lg" style="margin-right: 12px; font-size: 16px; font-weight: 600;"></i>Category
            </button>
        </div>
    </div>
    <div class="bootstrap-wrapper">
        <div class="row">
            <div class="col-md-12">
                <div class="card-body-cat" *ngFor="let category of categories">
                    <div class="col-md-4 d-flex aling-items-center">
                     <div>
                         <img src="../../../../assets/menu.png" alt="">
                     </div>
                     <div class="category-details ms-3">
                         <h3>{{category.title}} </h3>
                         <p>{{category.description}}</p>
                     </div>
                    </div>
                     <div class="col-md-4">
                         <mat-card-actions class="ms-6">
                         <button mat-mini-fab color="warn" class="ms-3 btn-edit" >
                             <mat-icon>edit</mat-icon>
                         </button>
                         <button mat-mini-fab color="warn" class="ms-3 btn-delete" (click)="deleteCategory(category.id)">
                             <mat-icon>delete</mat-icon>
                         </button>
                     </mat-card-actions>
                     </div>
                 </div>
             </div>
     
            </div>
        </div>
    </div>
