<div class="contain">
    <div class="container-1">
        <main class="row">
            <section class="col">
                <header class="title">
                    <div class="head">
                        <div class="box-search">
                            <input type="text" [(ngModel)]="searchTerm" (ngModelChange)="filterBySearchTerm()" placeholder="Search Category here ...">
                            <button>
                                <i class="bi bi-search" *ngIf="searchTerm===''"></i>
                                <i class="bi bi-x-lg" *ngIf="activeCancel()" (click)="clearSearchTerm()"></i>
                            </button>
                        </div>
                        <div class="dropdowns">
                            <button class="btn btn-sorted dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="bi bi-sort-down"></i>Sorted
                            </button>
                            <ul class="dropdown-menu dropdown-menu-dark">
                                <li><a class="dropdown-item" routerLinkActive="active" (click)="sortedByName()">Name</a></li>
                            </ul>
                        </div>
                        <div class="new">
                            <button class="new-category">
                                <i class="bi bi-plus-lg"></i>New
                            </button> 
                        </div>
                    </div>
                </header>

                <div class="contents">
                    <div class="box" *ngFor="let category of categoriesBySearchTerm">
                        <i class="bi bi-check-circle-fill"></i><span>Created by </span><a [routerLink]="'/user/profile/'+category.createdBy">{{category.createdBy}}</a>
                        <div class="content">
                            <div class="left">
                                <div class="image">
                                    <img [src]="category.image" alt="">
                                </div>
                            </div>
                            <div class="right">
                                <h3>{{category.title}}</h3>
                                <span>{{category.description}}</span>
    
                                <button class="view-quiz">
                                    QUIZZES
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </main>
    </div>
    <!--div class="row">
        <div class="col-md-12 content">
            <div class="d-flex justify-content-between align-items-center ">
                <div class="title-question">
                    <h1 class="mt-3">All Categories {{'('+totalElements+')'}} </h1>
                </div>
                <div>
                    <button class="btn-add" routerLink="/admin/add-category">
                        CATEGORY<i class="bi bi-plus-circle-fill"
                            style="margin-left: 12px; font-size: 20px; font-weight: 600;"></i>
                    </button>
                </div>
            </div>
            <mat-card class="category-card" *ngFor="let category of categories; let index= index">
                <div class="row">
                    <div class="col-md-12">
                        <mat-card-header>
                            <div mat-card-avatar class="icon-category" [ngStyle]="{'background': colors[index%5]}"><i [ngClass]="category.icon"></i></div>
                            <mat-card-title>{{category.title}}</mat-card-title>
                            <mat-card-subtitle>{{category.description}}</mat-card-subtitle>
                        </mat-card-header>
                        <div class="d-flex justify-content-between align-items-center">
                            <mat-card-actions class="ms-2">
                                <div>
                                    <button class="btn-question" [routerLink]="'/admin/quizzes/'+category.id">VIEW QUIZZES
                                        <i class="bi bi-eye-fill ms-2" style="font-size: 16px;"></i>
                                    </button>
                                    <div class="mt-2 created">
                                        <span style="color: #fff;">Created by: </span><a [routerLink]="'/user/profile/'+category.createdBy">{{category.createdBy}}</a>
                                    </div>
                                </div>
                            </mat-card-actions>
                            <div class="d-flex align-items-center editor">
                                <a class="nav-link edit" (click)="openUpdate(category)"><i class="bi bi-pen-fill" style="margin-right: 10px;"></i></a>
                                <a class="nav-link delete ms-3" (click)="deleteCategory(category.id)"><i class="bi bi-trash-fill" style="margin-right: 10px;"></i></a>
                                <button class="nav-link edit ms-3" data-toggle="modal" data-target="#exampleModal" (click)="updateCategoryId(category)"><i class="bi bi-camera-fill" style="margin-right: 8px;"></i>Upload Image</button>
                            </div>
                        </div>
                    </div>
                </div>
            </mat-card>
        </div>
    </div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
          <div class="header">
              <h4 class="modal-title" id="exampleModalLabel">Choose the category Image</h4> 
          </div>
        <div class="modal-body">
          <div class="mb-3">
              <input 
                  type="file" 
                  class="form-control"
                  (change)="handleFileInput($event)"
                  id="fileInput"
                  style="display: none;"
              >
              <button class="btn-upload" type="submit" id="inputGroupFileAddon04" (click)="uploadFile()"><i class="bi bi-plus-lg" style="margin-right: 18px;"></i>Import Image</button>
          </div>
              <p class="mb-3" style="color: #89929b;">File selected: <span style="color: #fff;">{{filename}}</span></p>
              <div class="selected-image d-flex justify-content-center align-items-center " *ngIf="selectImage">
                  <img [src]="selectImage" alt="">
              </div>
              <div class="mt-5">
                  <button *ngIf="filename" class="btn btn-secondary" (click)="uploadImage()">Upload</button>
              </div>
        </div>
      </div>
    </div-->
  </div>