.container {
    background: #fff;
    padding-bottom: 24px;
    padding-left: 30px;
}

h3, p{
    font-family: 'Ubuntu';
}

h3 {
    font-weight: 60;
    font-size: 20px;
}

.card-body-cat {
    display: flex;
    align-items: center; 
    font-family: 'Ubuntu';
    margin-top: 40px;
}
.card-header {
    color: #e11d48;
    font-weight: 500;
    font-size: 18px;
}

.header-category {
    margin: 24px;
}
.category-details h3 {
    font-weight: 500;
    color: #e11d48;
}
.category-details h3, p{
    font-family: 'Roboto';
    margin-top: 0px;
    margin-bottom: 0px;
}

.icon-category {
    color: #e11d48;
    font-size: 26px;
}

.btn-add {
    padding: 12px 20px;
    border: none;
    border-radius: 10px;
    background: #22c55e;
    color: #fff;
    font-family: 'Ubuntu';
}

.btn-add:hover {
    background: #0e223e;
    transition: all 0.25ms;
}

.btn-edit {
    background: #0e223e;
    
}

