h3, p{
    font-family: 'Ubuntu';
}

.card-body {
    display: flex;
    align-items: center; 
}
.card-header {
    color: #e11d48;
    font-weight: 500;
    font-size: 18px;
}
.category-details h3 {
    font-weight: 500;
    color: #e11d48;
}
.category-details h3, p{
    font-family: 'Roboto';
    margin-top: 0px;
    margin-bottom: 0px;
}

.icon-category {
    color: #e11d48;
}

.add-category {
    margin: 12px 24px;
    padding: 12px 24px;
    border: none;
    border-radius: 24px;
    background: #e11d48;
    color: #fff;
    font-family: 'Ubuntu';
}

.add-category:hover {
    background: #0e223e;
    transition: all 0.25ms;
}
