<div class="container mt-3">
    <div class="row">
        <div class="card">
            <div class="card-header text-center">All category</div>
            <div class="card-body" *ngFor="let category of categories">
                <div>
                    <mat-icon class="icon-category">category</mat-icon>
                </div>
                <div class="category-details ms-3">
                    <h3>{{category.title}} </h3>
                    <p>{{category.description}}</p>
                </div>
                
            </div>
            <div class="add">
                <button class="add-category" routerLink="/admin/add-category">Add new category</button>
            </div>
        </div>
    </div>
</div>