.bootstrap-wrapper {
    background: #1f2b3e;
    padding-bottom: 30px;
}

.correct-answer {
    background: #fff;
    color: #4CAF50;
}

mat-card {
    background: #3D5A80;
}
.wrong-answer {
    background: #fff;
    color: #de283b;
}

.normal {
    background: #fff;
    color: #313d44;
}

.question-number {
    padding: 10px 12px;
    background: #0F1C2E;
    color: #fff;
    border: none;
}