.bootstrap-wrapper {
    background: #cee8ff;
    padding-bottom: 30px;
}

.correct-answer {
    background: #fff;
    color: #4CAF50;
}

.wrong-answer {
    background: #fff;
    color: #de283b;
}

.normal {
    background: #fff;
    color: #313d44;
}

.question-number {
    padding: 10px 12px;
    background: #161616;
    color: #fff;
    border: none;
}