.chart-result {
    background: var(--bg-100);
    padding: 10px 8%;
    border-radius: 10px;
    overflow: hidden;
}

/**/

.container-1 {
    padding: 20px 5%;

    main.row {
        section.col {
            //background: var(--bg-300);
            header.title {
                h3 {
                    color: var(--text-100);
                }
            }
                        
            .contents {
                background: var(--bg-100);
                padding: 0 30px;

                .box {
                    position: relative;
                    margin-bottom: 14px;
                    padding: 14px 24px;
                    border: 1px solid var(--bg-200);
                    border-radius: 8px;

                    .title-question {
                        margin-bottom: 16px;

                        span {
                            color: var(--special-100);
                        }
                    }

                    .option {
                        display: flex;
                        margin-bottom: 16px;

                        i {
                            color: var(--primary-100);
                            margin-right: 14px;
                            font-size: 16px;
                        }

                        i.bi-x-circle-fill {
                            color: var(--delete-100);
                        }

                        i.bi-circle {
                            color: var(--text-100);
                        }

                        span {
                            color: var(--text-100);
                            font-size: 13px;
                        }
                    }

                    .indice {
                        position: absolute;
                        top: 0;
                        right: calc(100% + 10px);
                        background: var(--special-100);
                        border-radius: 50%;
                        border: 5px solid var(--bg-100);

                        span {
                            color: var(--text-100);
                            border-radius: 50%;
                            -moz-border-radius: 50%;
                            -webkit-border-radius: 50%;
                            display: inline-block;
                            width: 30px;
                            line-height: 30px;
                            text-align: center;
                            
                        }
                    }

                    .correct-answer {
                        position: absolute;
                        top: 12px;
                        right: 12px;

                        i {
                            color: var(--special-100);
                            font-size: 16px;
                        }
                    }
                }

                .box:not(:last-child)::before {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: -30px;
                    width: 1px;
                    height: 105%;
                    background: var(--special-100);
                }
            }
        }
    }
}

.container-2 {
    margin-top: 16px;
    padding: 0 20px 0 0;

    main.row {
        section.col {

            header.title {
                h3 {
                    color: var(--text-100);
                    background: var(--bg-300);
                    padding: 12px;
                    border: 1px solid var(--bg-200);
                    border-radius: 8px;
                }
            }

            .contents {
                margin-top: 12px;
                border: 1px solid var(--bg-200);
                padding: 16px;
                border-radius: 8px;

                .box {
                    //background: var(--bg-200);
                    margin-bottom: 28px;
                    padding: 0 16px 0 0;

                    .category {
                        display: flex;
                        align-items: center;
                        cursor: pointer;

                        .icon {
                            margin-right: 12px;
                            i {
                                color: var(--text-100);
                                font-size: 24px;
                            }
                        }

                        .info-category {
                            h4 {
                                color: var(--text-100);
                                margin-bottom: 4px;
                            }

                            span {
                                color: var(--text-200);
                                font-size: 12px;
                            }
                        }
                    }
                }

                .box:hover h4, span{
                    text-decoration: underline;
                    color: var(--special-100);
                }
            }
        }
    }
}

/**/

