.contain {
    width: 100%;
    height: 100%;
    //background: #fff;
    margin-top: 70px;
}

.content-home {
    border: 1px solid gray;
}

.card {
    height: 120px;
    
    background-size: cover;
    background-position: center;
}