.contain {
    position: fixed;
    width: 90%;
    margin: 16px;
}

.row .quiz-title-head {
    background: #21262d;
    height: 20vh;
    border-radius: 10px 0 0 0;
}

.row .title-quiz {
    height: 20vh;
    font-family: 'Ubuntu';
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;

}

.content-quiz {
    padding: 16px 20px;
    font-family: 'Ubuntu';
    background: #56647b;
    color: #fff;
    height: 55vh;
    border-radius: 0 0 0 10px;
}

.content-quiz .details {
    margin-bottom: 26px;

    i {
        font-size: 18px;
        color: #ffb787;
    }

    span {
        font-size: 18px;
        color: #ffb787;
    }
}

.content-right {
    background: #fff;
    border-radius: 0 10px 10px 0;
    height: 75vh;
}

.button-start {
    background: #21262d;
    padding: 8px 16px;
    margin-right: 24px;
    border: 1px solid #21262d;
    border-radius: 6px;
    color: #f3f4f6;
    transition: all .6s ease;
}

.button-start:hover {
    background: transparent;
    color: #21262d;
    border: 1px solid #21262d;
}

/****/

.container-1 {
    background: var(--bg-200);
    border-radius: 20px;
    padding: 20px;
    margin: 0 20px;
    height: 500px;

    main.row {
        section.col {
            background: var(--bg-200);
            padding:0 20px;
            border-radius: 20px;
            margin-left: 30px;

            header.title {
                display: flex;
                align-items: center;
                padding-bottom: 16px;
                //border-bottom: 1px solid var(--bg-300);

                .icon {
                    background: var(--special-300);
                    padding: 10px;
                    margin-right: 14px;
                    border-radius: 50%;

                    i {
                        color: var(--text-200);
                        font-size: 28px;
                    }
                }

                h4 {
                    color: var(--text-100);
                    //background-image: linear-gradient(43deg, #415dbd, #c850cb 46%, #ffcc70 100%);
                    // -webkit-background-clip: text;
                    //color: transparent;
                    font-family: 'Poppins';
                    padding-top: 14px;
                    margin-bottom: 2px;
                    margin-left: -8px;
                    text-transform: uppercase;
                }

                h5 {
                    color: var(--text-300);
                }
            }

            .contents {
                //background: var(--bg-300);
                padding: 0 30px;
                border-left: 1px solid var(--special-300);

                .box {
                    position: relative;
                    background: var(--bg-200);
                    padding: 0 20px;
                    margin-bottom: 20px;

                    .question,
                    .duration,
                    .marks,
                    .level,
                    .language {
                        margin-bottom: 30px;

                        .info-icon {
                            position: absolute;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            top: 0;
                            right: calc(100% + 16px);
                            background: var(--special-200);
                            padding: 2px 4px;
                            border-radius: 50%;
                            border: 3px solid var(--bg-200);

                            i {
                                color: var(--special-300);
                                font-size: 16px;
                                font-weight: 900;
                            }
                        }

                        .details {
                            i {
                                color: var(--text-300);
                                margin-right: 6px;
                            }
                        }

                        span {
                            color: var(--text-300);
                            font-family: 'Poppins';
                            font-size: 12px;
                        }

                        h4 {
                            color: var(--text-100);
                            margin-bottom: 4px;
                            font-family: 'Poppins';
                        }
                    }
                }

            }
        }
    }

}

.container-2 {
    background: var(--bg-200);
    border-radius: 20px;
    padding: 20px;
    margin: 0 40px 20px 0;
    height: 500px;

    main.row {
        section.col {
            background: var(--bg-200);
            padding:20px;
            border-radius: 20px;
            margin-left: 30px;

            header.title {
                display: flex;
                align-items: center;
                padding-bottom: 16px;
                //border-bottom: 1px solid var(--bg-300);

                .icon {
                    background: var(--special-300);
                    padding: 10px;
                    margin-right: 14px;
                    border-radius: 50%;

                    i {
                        color: var(--text-200);
                        font-size: 28px;
                    }
                }

                h4 {
                    color: var(--text-200);
                    //background-image: linear-gradient(43deg, #415dbd, #c850cb 46%, #ffcc70 100%);
                    // -webkit-background-clip: text;
                    //color: transparent;
                    font-family: 'Poppins';
                    padding-top: 14px;
                    margin-bottom: 2px;
                    margin-left: -8px;
                    text-transform: uppercase;
                }

                h5 {
                    color: var(--text-300);
                }
            }

            .contents {
                //background: var(--bg-300);
                position: relative;
                padding: 0 30px;
                border-left: 1px solid var(--special-300);

                .box {
                    position: relative;
                    background: var(--bg-200);
                    padding: 0 20px;
                    margin-bottom: 20px;

                    .question,
                    .duration,
                    .marks,
                    .level,
                    .language {
                        margin-bottom: 30px;

                        .info-icon {
                            position: absolute;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            top: 0;
                            right: calc(100% + 16px);
                            background: var(--special-200);
                            padding: 2px 4px;
                            border-radius: 50%;
                            border: 3px solid var(--bg-200);

                            i {
                                color: var(--special-300);
                                font-size: 16px;
                                font-weight: 900;
                            }
                        }

                        .details {
                            i {
                                color: var(--text-300);
                                margin-right: 6px;
                            }
                        }

                        span {
                            color: var(--text-300);
                            font-family: 'Poppins';
                        }

                        h4 {
                            color: var(--text-100);
                            margin-bottom: 4px;
                            font-family: 'Ubuntu';
                        }
                    }
                }

                .btn-start {
                    width: 100%;
                    border: 0;
                    padding: 10px;
                    background: var(--special-200);
                    color: var(--text-100);
                    border-radius: 2px;
                }
            }
        }
    }

}