.contain {
    position: fixed;
    width: 90%;
    margin: 16px;
}
.row .quiz-title-head {
    background: #21262d;
    height: 20vh;
    border-radius: 10px 0 0 0;
}

.row .title-quiz {
    height: 20vh;
    font-family: 'Ubuntu';
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;

}

.content-quiz {
    padding: 16px 20px;
    font-family: 'Ubuntu';
    background: #56647b; 
    color: #fff;  
    height: 55vh;
    border-radius: 0 0 0 10px;
}

.content-quiz .details {
    margin-bottom: 26px;

    i {
        font-size: 18px;
        color: #ffb787;
    }

    span {
        font-size: 18px;
        color: #ffb787;
    }
}

.content-right {
    background: #fff;
    border-radius: 0 10px 10px 0;
    height: 75vh;
}

.button-start {
    background: #21262d;
    padding: 8px 16px;
    margin-right: 24px;
    border: 1px solid #21262d;
    border-radius: 6px;
    color: #f3f4f6;
    transition: all .6s ease;
}

.button-start:hover {
    background: transparent;
    color: #21262d;
    border: 1px solid #21262d;
}

/****/

.container-1 {
    background: var(--bg-200);
    padding: 20px 10%;

    section.col {
        .contents {
            background: var(--bg-300);
            padding: 30px;

            .box {
                background: var(--bg-200);
                padding: 20px;
                border-radius: 25px;

                header.title {
                    display: flex;
                    align-items: center;
                    padding-bottom: 16px;
                    border: 1px solid var(--bg300);

                    .icon {
                        background: var(--special-300);
                        padding: 10px;
                        margin-right: 14px;
                        border-radius: 50%;

                        i {
                            color: var(--text-200);
                            font-size: 28px;
                        }
                    }

                    h4 {
                        color: var(--text-200);
                        font-family: 'Poppins';
                        padding-top: 14px;
                        margin-bottom: 2px;
                    }

                    h5 {
                        color: var(--text-300);
                    }
                }
            }
        }
    }
}