.bootstrap-wrapper {
    position: fixed;
    background: #f3f4f6;
    height: 85vh;
    overflow-y: hidden;
}

.row .quiz-title-head {
    background: #21262d;
}

.row .title-quiz {
    height: 20vh;
    font-family: 'Ubuntu';
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.row .content-quiz {
    padding: 16px 20px;
    font-family: 'Ubuntu';
    background: #56647b; 
    color: #fff; 
    height: 65vh;
}

.button-start {
    background: #21262d;
    padding: 8px 16px;
    border: 1px solid #21262d;
    border-radius: 6px;
    color: #f3f4f6;
    position: absolute;
    bottom: 70px;
    right: 40px;
    transition: all .6s ease;
}

.button-start:hover {
    background: transparent;
    color: #21262d;
    border: 1px solid #21262d;
}