<div class="contain">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="container-1">
                <main class="row">
                    <section class="col">
                        <header class="title">
                            <div>
                                <h4>{{quiz.title}}</h4>
                            </div>
                        </header>
                        <div class="contents">
                            <div class="box">
                                <div class="question">
                                    <div class="info-icon">
                                        <i class="bi bi-circle"></i>
                                    </div>
                                    
                                    <h4>Number of Questions</h4>
                                    <div class="details">
                                        <i class="bi bi-patch-question-fill"></i>
                                        <span>{{quiz.numberOfQuestions+' Questions'}}</span>
                                    </div>
                                    
                                </div>
                            </div>
                            <div class="box">
                                <div class="duration">
                                    <div class="info-icon">
                                        <i class="bi bi-circle"></i>
                                    </div>
                                    <h4>Duration</h4>
                                    <div class="details">
                                        <i class="bi bi-alarm-fill"></i>
                                        <span>{{quiz.duration+' Minutes'}}</span>
                                    </div>
                                </div>
                            </div>
                            <div class="box">
                                <div class="marks">
                                    <div class="info-icon">
                                        <i class="bi bi-circle"></i>
                                    </div>
                                    <h4>Max marks</h4>
                                    <div class="details">
                                        <i class="bi bi-bookmark-star-fill"></i>
                                        <span>{{quiz.marks+' Points'}}</span>
                                    </div>
                                </div>
                            </div>   
                            <div class="box">
                                <div class="level">
                                    <div class="info-icon">
                                        <i class="bi bi-circle"></i>
                                    </div>
                                    <h4>Difficulty</h4>
                                    <div class="details">
                                        <i class="bi bi-bar-chart-fill"></i>
                                        <span>{{quiz.difficulty}}</span>
                                    </div>
                                </div>
                            </div> 
                            <div class="box">
                                <div class="language">
                                    <div class="info-icon">
                                        <i class="bi bi-circle"></i>
                                    </div>
                                    <h4>Language</h4>
                                    <div class="details">
                                        <i class="bi bi-translate"></i>
                                        <span>{{quiz.language=== 'Fr'? 'Français': 'English'}}</span>
                                    </div>   
                                </div>
                            </div>
                        </div>
                        
                    </section>
                    <section class="col instructions">
                        <header class="title">
                            <div>
                                <h4>INSTRUCTIONS</h4>
                            </div>
                        </header>
                        <div class="contents">
                            <p>
                                This quiz aims to <span>{{quiz.description}}</span>. Test your knowledge on <span>{{quiz.title}}</span>, 
                                assess your understanding, and challenge your skills in <span>{{quiz.duration+' Minutes'}}</span>. 
                            </p>
                            <div class="info">
                                <i class="bi bi-check2-circle"></i>
                                <span>Dive straight into the quiz with a balanced mix of questions across various difficulty levels</span>
                            </div>
                            <div class="info">
                                <i class="bi bi-check2-circle"></i>
                                <span>Tailor the quiz to your liking by selecting specific categories or topics you want to focus on.</span>
                            </div>
                            <div class="info">
                                <i class="bi bi-check2-circle"></i>
                                <span>Feeling adventurous? Let fate decide your quiz journey by opting</span>
                            </div>
                        </div>
                        <button class="btn-start" [routerLink]="'/user/start/'+quiz.id">START THE QUIZ</button>
                    </section>
                </main>
            </div>
        </div>
        <!--div class="col-md-4 quiz-title-head">
            <div class="row">
                <div class="title-quiz col-md-12 ms-3">
                    <img src="{{quiz.imageUrl}}" alt="">
                    <div class="mt-3 ms-4">
                        <h2>{{quiz.title}}</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="content-quiz col-md-12" >
                    <div class="ms-3">
                        <h1><strong>Quiz</strong></h1>
                        <span>{{quiz.description}}</span>
                
                       <div class="mt-5 details">
                            <p>Time</p>
                            <i class="bi bi-alarm"></i><span class="ms-2">{{quiz.duration}} Minutes</span>
                       </div>
                       <div class="mt-2 details">
                            <p>Questions</p>
                            <i class="bi bi-question-circle"></i><span class="ms-2">{{quiz.numberOfQuestions}} Questions</span>
                       </div>
                       <div class="mt-2 details">
                            <p>Level</p>
                            <i class="bi bi-bar-chart"></i><span class="ms-2">{{quiz.difficulty}}</span>
                       </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8 content-right">
            <div class="mt-5 m-5" >
                <p style="line-height: 2; font-size: 18px; margin: 50px 50px;">Before we begin, let's set the stage for what lies ahead. 
                    This quiz aims to <strong>{{quiz.description}}</strong>, test your knowledge on <strong>{{quiz.title}}</strong>, 
                    assess your understanding of [subject], challenge your skills in <strong>{{quiz.numberOfQuestions}}</strong>, 
                    questions in <strong>{{quiz.duration}}</strong> Minutes. 
                </p>
                <ul class="mt-5" style="font-size: 16px;">
                    <li class="nav-item mt-2" style="line-height: 2;">1- Standard Mode: Dive straight into the quiz with a balanced mix of questions across various difficulty levels. Perfect for those seeking a well-rounded challenge.</li>
                    <li class="nav-item mt-2" style="line-height: 2;">Custom Mode: Tailor the quiz to your liking by selecting specific categories or topics you want to focus on. Personalize your quiz experience and make it uniquely yours!</li>
                    <li class="nav-item mt-2" style="line-height: 2;">Random Mode: Feeling adventurous? Let fate decide your quiz journey by opting for a random selection of questions from our vast database. Embrace the element of surprise and see where it takes you!</li>
                </ul>
            </div>

            <div class="row">
                <div class="col-md-12 d-flex justify-content-end align-items-center">
                    <button class="button-start" [routerLink]="'/user/start/'+quiz.id">START<i class="bi bi-skip-start-circle-fill ms-3"></i></button>
                </div>
            </div>
        </div-->
    </div>
</div>