.bootstrap-wrapper {
    background: #f3f4f6;
    height: 85vh;
}

.row .quiz-title-head {
    background: #21262d;
}

.row .title-quiz {
    padding: 16px 16px;
    font-family: 'Ubuntu';
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.row .content-quiz {
    padding: 16px 20px;
    font-family: 'Ubuntu';
    background: #56647b; 
    color: #e0e0e0; 
    height: 65vh;
}

.button-action {
    position: absolute;
    bottom: 70px;
    right: 40px;
}
.button-next {
    background: #0e223e;
    padding: 12px 12px 12px 24px;
    border: 1px solid #0e223e;
    color: #f3f4f6;
}

.button-next:hover {
    border: 1px solid #0e223e;
    background: #fff;
    color: #0e223e;
}

.button-back {
    background: #f59e0b;
    padding: 12px 12px 12px 24px;
    border: 1px solid #f59e0b;
    color: #f3f4f6;

}

.button-back:hover {
    border: 1px solid #f59e0b;
    background: #fff;
    color: #f59e0b;
}
.button-submit {
    background: #21262d;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    color: #c6cdd5;
}

.button-submit:hover {
    opacity: .8;
}
.choice {
    width: 100%;
    padding: 16px;
    border-radius: 6px;
    background: #0e223e;
    color: #fff;
    font-family: 'Ubuntu';
    font-size: 14px;
    border: none;
    transition: all .6s ease;
}

.choice:hover {
    //border: 2px solid #0e223e;
    background: #00668c;
    color: #fff;
    border: none;
}

.choice.active {
    border: 2px solid #0e223e;
    background: #71c4ef;
    color: #fff;
}

.current-question {
    border: none;
    background: #00668c;
    color: #fff;
    padding: 10px 12px;
}

.time {
    color: #e0e0e0;
}

.question {
    color: #e0e0e0;
}
.time h2 {
    color: #e0e0e0;
}

.question h2 {
    color: #e0e0e0;
}

