<div class="bootstrap-wrapper mt-4">
    <div class="container-fluid pb-3">
        <div class="row">
            <div class="col-md-4" style="background: #9ca3af; height: 85vh;">
                <div class="row">
                    <div class="title-quiz col-md-12 ms-3" style="height: 20vh;">
                        <img src="../../../../assets/securite-des-donnees.png" alt="">
                        <div class="mt-2">
                            <h2>{{quiz.title}}</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="content-quiz col-md-12" style="background: #e5e7eb; height: 65vh;">
                        <div class="ms-3">
                            <h1><strong>Quiz</strong></h1>
                            <span>{{quiz.description}}</span>
                            <mat-spinner
                                mode="determinate"
                                color="accent"
                                style=" margin-top: 40px;"
                                [value]="100"
                                ></mat-spinner>
                           <div class="mt-3" style="color: #0e223e;">
                                <p>Time</p>
                                <h2><i class="bi bi-alarm" style="font-size: 28px;"></i><strong class="ms-3">{{quiz.duration}} Minutes</strong></h2>
                           </div>
                           <div class="mt-2" style="color: #0e223e;">
                                <p>Questions</p>
                                <h2><i class="bi bi-question-circle" style="font-size: 28px;"></i><strong class="ms-3">{{quiz.numberOfQuestions}} Questions</strong></h2>
                           </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="mt-5 m-5">
                    <div>
                        <button class="btn btn-primary">{{currentQuestion+1}}</button>
                        <h2>{{quiz.questions[currentQuestion].content}}</h2>
                        <h3 *ngFor="let option of quiz.questions[currentQuestion].options">{{option}}</h3>
                    </div>
                </div>
                <div class="d-flex justify-content-between align-items-center">
                    <button class="button-start" (click)="onPreviousQuestion()">NEXT <i class="bi bi-skip-start-circle-fill ms-3"></i></button>
                    <button class="button-start" (click)="onNextQuestion()">NEXT <i class="bi bi-skip-start-circle-fill ms-3"></i></button>
                </div>
            </div>
        </div>
    </div>
</div>