<div class="bootstrap-wrapper mt-4">
    <div class="container-fluid pb-3">
        <div class="row">
            <div class="col-md-4" style="background: #9ca3af; height: 85vh;">
                <div class="row">
                    <div class="title-quiz col-md-12 ms-3" style="height: 20vh;">
                        <img src="../../../../assets/securite-des-donnees.png" alt="">
                        <div class="mt-2">
                            <h2>{{quiz.title}}</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="content-quiz col-md-12" style="background: #e5e7eb; height: 65vh;">
                        <div class="ms-3">
                            <h1><strong>Quiz</strong></h1>
                            <span>{{quiz.description}}</span>
                            <mat-spinner
                                mode="determinate"
                                color="accent"
                                style=" margin-top: 40px;"
                                [value]="spinnerValue"
                                ></mat-spinner>
                           <div class="mt-3" style="color: #0e223e;">
                                <p>Time</p>
                                <h2><i class="bi bi-alarm" style="font-size: 28px;"></i><strong class="ms-3">{{(minute< 10 ? '0'+minute : minute)+':'+(second< 10 ? '0'+second : second)+' / '+quiz.duration}} Minutes</strong></h2>
                           </div>
                           <div class="mt-2" style="color: #0e223e;">
                                <p>Questions</p>
                                <h2><i class="bi bi-question-circle" style="font-size: 28px;"></i><strong class="ms-3">{{(currentQuestion+1)+' / '+quiz.numberOfQuestions}} Questions</strong></h2>
                                <mat-progress-bar mode="determinate" [value]="questionValue"></mat-progress-bar>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <div class="mt-5 m-5">
                    <div class="">
                        <button class="btn btn-primary m-3 d-inline-block">{{currentQuestion+1}}</button>
                        <h2 class="d-inline-block">{{quiz.questions[currentQuestion].content}}</h2>
                    </div>
                    <div class="mt-4">
                        <div class="" *ngFor="let option of quiz.questions[currentQuestion].options" >
                            <button class="choice mt-4" [class.active]="choiceSelected=== option" (click)="selected(option)">{{option}}</button>
                        </div>
                    </div>
                    <div class="button-action">
                        <button class="button-back" *ngIf="isCurrent" (click)="onPreviousQuestion()">BACK <i class="bi bi-skip-start-circle-fill ms-3"></i></button>
                        <button class="button-start ms-4" *ngIf="isCurrent" (click)="onNextQuestion()">NEXT <i class="bi bi-skip-start-circle-fill ms-3"></i></button>
                        <button class="button-submit" *ngIf="!isCurrent" (click)="getResult()">SUBMIT YOUR SKILLS</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

