.contain  {
    background: transparent;
}

.content {
    padding: 20px;
    background: transparent;
    border-radius: 8px;
    margin-right: 18px;
}

.row .quiz-title-head {
    background: #334155;
}

.row .title-quiz {
    padding: 16px 16px;
    font-family: 'Ubuntu';
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.row .content-quiz {
    padding: 16px 20px;
    font-family: 'Ubuntu';
    background: #21262d; 
    color: #e0e0e0; 
    height: 65vh;
}

.content-right {
    background: #e0e0e0;
    position: relative;
}

.button-action {
    position: absolute;
    bottom: 70px;
    right: 40px;
}

.button-submit {
    font-weight: 600;
    background-color: #4062bb;
    background-image: linear-gradient(316deg, #4062bb 0%, #5200ae 74%);
    padding: 18px 24px;
    border: none;
    border-radius: 4px;
    color: #fff;
    font-size: 16px;
    transform: translate(-50%, 100%);
    transition: opacity 0.7s, transform 0.7s;
    opacity: 0;
}

.button-submit.active {
    transform: translate(-50%, -50%);
    opacity: 1;
}

.button-submit:hover {
    opacity: .8;
}

.view-result {
    position: absolute;
    top: 30%;
    left: 50%;
}

.choice {
    width: 100%;
    height: 80px;
    padding: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    background-color: #4062bb;
    background-image: linear-gradient(316deg, #4062bb 0%, #5200ae 74%);
    color: #fff;
    font-family: 'Inter';
    cursor: pointer;
    font-size: 14px;
    transition: all .6s ease;
}

.choice:hover {
    transform: scale(110%);
    background: #00668c;
    color: #fff;
    border: none;
}
.current-question {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #4062bb;
    background-image: linear-gradient(316deg, #4062bb 0%, #5200ae 74%);
    color: #fff;
    
    span {
        font-size: 18px;
        font-weight: 600;
    }
}

.time {
    color: #e0e0e0;
}

.question {
    color: #e0e0e0;
}
.time h2 {
    color: #e0e0e0;
}

.question h2 {
    color: #e0e0e0;
}

